@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body .header .slider {
  max-width: 1366px;
  height: 800px;
  margin: 0 auto;
  background-image: url("../common.blocks/blocks/header-blocks/img/slider_bg.jpg");
  padding: 63px 0 0 94px;
}
body .header .slider .menu .menu__nav {
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
body .header .slider .menu {
  max-width: 1101px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body .header .slider .menu .menu__logo {
  display: block;
}
body .header .slider .menu .menu__nav {
  display: flex;
  justify-content: space-between;
  width: 547px;
  height: 27px;
}
body .header .slider .menu .menu__nav .nav__item {
  height: 100%;
  padding-top: 4px;
  text-align: center;
}
body .header .slider .menu .menu__nav .nav__active {
  font-weight: 700;
}
body .header .slider .menu .menu__nav .nav__active:after {
  content: "";
  display: block;
  margin: 6px auto 0;
  max-width: 74px;
  height: 3px;
  background-color: #212121;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat.ttf");
  font-style: normal;
  font-weight: normal;
}