@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}
body .header .slider {
  max-width: 1366px;
  height: 800px;
  background-image: url("../common.blocks/blocks/header-blocks/img/slider_bg.jpg");
}
body .header .slider .menu .menu__nav {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
body .header .slider .menu {
  max-width: 1101px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body .header .slider .menu .menu__logo {
  display: block;
}
body .header .slider .menu .menu__nav {
  width: 547px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
body .header .slider .menu .menu__nav .nav__item {
  height: 100%;
  padding-top: 4px;
  text-align: center;
}
body .header .slider .menu .menu__nav .nav__item a {
  color: #8c8c8c;
}
body .header .slider .menu .menu__nav .nav__item a:hover {
  color: #212121;
  transition: 0.3s;
}
body .header .slider .menu .menu__nav .nav__active {
  font-weight: 700;
}
body .header .slider .menu .menu__nav .nav__active a {
  color: #212121;
}
body .header .slider .menu .menu__nav .nav__active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin: 6px auto 0;
  background-color: #212121;
}
body .header .slider .slider__text {
  max-width: 490px;
  height: 233px;
}
body .header .slider .slider__text .slider__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #43a047;
}
body .header .slider .slider__text .slider__subtitle {
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
body .header .slider .slider__text .slider__subtitle_margin-top {
  margin-top: 14px;
}
body .header .slider .slider__text .slider__paragraph {
  font-size: 14px;
  font-weight: 300;
  color: #6c6c6c;
  line-height: 24px;
}
body .header .slider .slider__text .slider__paragraph_margin-top {
  margin-top: 15px;
}
body .header .slider .slider__text .slider__button {
  display: block;
  width: 212px;
  height: 45px;
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  background-color: #fff;
  border-radius: 22.5px;
}
body .header .slider .slider__text .slider__button .button__text {
  font-size: 18px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: #212121;
}
body .header .slider .slider__text .slider__button .button__text:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 12px;
  background-image: url("../common.blocks/blocks/header-blocks/img/arrow.png");
  margin-left: 17px;
}
body .header .slider .slider__text .slider__button:hover {
  background-color: #eff;
  transition: 0.3s;
}
body .header .slider .slider__text .slider__button:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: -2px -2px rgba(33, 33, 33, 0.34);
  transition: 0.12s;
}
body .header .slider .slider__text .slider__button_margin-top {
  margin-top: 30px;
}
body .header .slider .slider__text_margin-top {
  margin-top: 283px;
}
body .header .slider .slider__pagination {
  display: inline-block;
  width: calc(100% - 2*94px);
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 19px;
}
body .header .slider .slider__pagination .pagination__circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c5c5c5;
  vertical-align: middle;
  margin: 0 5px;
}
body .header .slider .slider__pagination .pagination__circle:hover {
  background-color: #212121;
  transition: 0.3s;
}
body .header .slider .slider__pagination .pagination__active {
  width: 40px;
  height: 40px;
  background-color: #212121;
}
body .header .slider__pos {
  margin: 0 auto;
  padding: 63px 94px 0;
  position: relative;
}