$content-width: 1366px;
$menu__mobile-height: 190px;
// .mian-container .content
$mian-header__pagination_width: 263px;
// .mian-container .exclusive-products
$products-height: 100vw / 2.39649;
// .product-container .content .header .header__pagination
$header__pagination-width: 35px;
// .product-container .content .header .header__pagination .pagination-item_active
$height-of-underline: 3px;
// .product-container .content .exclusive-products .products-item
$ex-product-height: 683px;
// order us-button
$order-us-min-height: 30px;
$order-us-max-height: 45px;