.content_featured_projects {
	width: 978px;
	height: 689px;
	background-color: #eee;
	margin: 81px auto 80px;

	.content_featured_projects_top {
		width: 100%;
		height: 102px;

		& div:first-child {
			float: left;
			width: 668px;
			height: 100%;

			& h2 {
			color: #515151;
			font-size: 29px;
			}

			& p {
				color: #8f8f8f;
				font-size: 17px;
				margin-top: 26px;
				line-height: 26px;
			}
		}

		& div:last-child {
			display: inline-block;
			width: 181px;
			height: 50px;
			background-color: #fff;
			margin: 28px 0 0 125px;
			text-align: center;
			border: 1px solid #515151;
			opacity: 0.42;
			border-radius: 10px;

			& span {
				display: block;
				position: relative;
				top: 17px;
				opacity: 0.71;
				color: #515151;
				font-weight: 600;
			}
		}
	}

	.content_featured_projects_center {
		width: 100%;
		height: 521px;
		margin-top: 66px;

		& div.new_content_1 {
			display: inline-block;
			width: 300px;
			height: 520px;
			background-color: #f9f9f9;
			margin-right: 35px;
			border-radius: 10px;
			overflow: hidden;


			& div.new_content_image {
				width: 300px;
				height: 226px;
				background: url("../../img/featured_projects/content_featured_projects_angle.svg") top left/74px 74px no-repeat, url("../../img/featured_projects/content_featured_projects_1.png") top left/300px 226px no-repeat;
				
				& span.text_new {
					display: inline-block;
					position: relative;
					color: #ffffff;
					font-family: "Montserrat", sans-serif;
					font-size: 16px;
					text-transform: uppercase;
					transform: rotate(-45deg);
					top: 15px;
					left: 3px;
				}

				& div {
					width: 139px;
					height: 35px;
					background-color: #26a6d1;
					border-radius: 5px;
					text-align: center;
					padding-top: 9px;
					margin: 160px 0 0 150px;

					span:nth-child(n) {
						// Style for "From GBP 3600"
						color: #fff;
						font-size: 17px;
						font-weight: 700;
					}

					span:first-child {
						// Text style for "From"
						font-weight: 400;
					}
				}
			}

			& div.new_content_text_top {
				width: 251px;
				height: 114px;
				margin: 29px auto 0;

				& h2 {
					// Style for "Ontario Tower"
					color: #484848;
					font-size: 17px;
					font-weight: 700;
				}

				& p {
					// Style for "Lorem ipsu"
					width: 100%;
					height: 82px;
					opacity: 0.71;
					color: #484848;
					font-size: 13px;
					margin-top: 15px;
					line-height: 21px;
				}
			}

			& div.new_content_bar_top {
				width: 254px;
				height: 47px;
				margin: 20px auto 0;

				& div.loading_bar {
					width: 100%;
					height: 14px;
					background-color: #e3e3e3;
					border-radius: 7px;
					overflow: hidden;

					& div {
						width: 38px;
						height: 100%;
						background-color: #add136;
					}
				}

				& span:nth-child(n) {
					display: inline-block;
					color: #8d8d8d;
					font-size: 13px;
					margin-top: 20px;
				}

				& span:nth-child(2) {
					// Style for "8 Days Lef"
					float: left;
				}

				& span:nth-child(3) {
					// Style for "8 Days Lef"
					float: right;
				}
			}

			& div.new_content_line {
				width: 252px;
				height: 1px;
				background-color: #d6d6d6;
				margin: 17px auto 0;
			}

			& div.new_content_bottom {
				display: inline-block;
				height: 17px;
				margin: 26px 0 0 110px;

				& span {
					display: inline-block;
					opacity: 0.85;
					color: #484848;
					font-size: 15px;
					position: relative;
					top: 1px;
				}

				& img {
					display: inline-block;
					margin-left: 6px;
				}
			}
		}

		&.new_content_2 {
			
		}

		& div.new_content_3 {
			margin-right: 0px;
		}
	}
}