@import "nullstyle.scss";

body {
	background: #fff;
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
}

.content {
	max-width: 1300px;
	margin: 0 auto;
}

@import "header_style.scss";
@import "content_top.scss";
@import "content_center.scss";