& div.header {
    height: 49px;
    margin: 0 auto;
    text-align: center;

    & p.header__title {
        @extend %headers;
    }

    & p.header__subtitle {
        font-family: $default_font_family;
        font-size: 16px;
        line-height: 22px;
    }
}