// $visible-width
@media (min-width: $content-width) and (max-width: 100vw) {
    $visible-width: $content-width;
}

// Menu
@media (min-width: 1px) and (max-width: 960px) {
    .menu {
        .menu__nav {
            display: none !important;
        }

        .menu__mobile_wrapp {
            display: block !important;
        }
    }
}

// font-size HTML
@media (min-width: 1px) and (max-width: 320px) {
    html {
        font-size: 8px !important;
    }
}
@media (min-width: 321px) and (max-width: 425px) {
    html {
        font-size: 12px !important;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    html {
        font-size: 14px !important;
    }
}

// main-container
@media (min-width: 1px) and (max-width: 857px) {
    .main-container {
        .content {
            .promo-product {
                display: block !important;

                .exclusive-product {
                    width: 100% !important;
                }
            }

            .exclusive-products {
                display: none !important;
            }

            .promo-product {
                .promo-product_padding {
                    padding: 29% 17.3% 0 3.762% !important;
                }
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 960px) {
    .main-container {
        .header {
            .slider {
                height: 700px !important;
            }

            .slider__text_margin-top {
                margin-top: 3% !important;
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 718px) {
    .main-container {
        .content {
            .featured-new {
                .featured-new__title {
                    .header {
                        flex-direction: column !important;
                        align-items: center !important;
                    }
                }
            }

            .trending-products {
                .products__header {
                    flex-direction: column !important;

                    .products__title {
                        text-align: center;
                    }
                }
            }
        }
    }

}

@media (min-width: 961px) and (max-width: 1170px) {
    .main-container {
        .header {
            .slider {
                height: 665px !important;
            }

            .slider__text_margin-top {
                margin-top: 20% !important;
            }
        }
    }
}

// product-container
@media (min-width: $content-width) and (max-width: 100vw) {
    .product-container {
        .header {
            .header-inner_padding {
                padding: 63px 167px 0 98px !important;
            }
        }
    }
}