@media (min-width: 1px) and (max-width: 960px) {
    .container {
        .header {
            .slider {
                height: 700px !important;

                .menu {
                    .menu__nav {
                        display: none !important;
                    }

                    .menu__mobile_wrapp {
                        display: block !important;
                    }
                }
            }

            .slider__text_margin-top {
                margin-top: 12% !important;
            }
        }
    }
}

@media (min-width: 961px) and (max-width: 1170px) {
    .container {
        .header {
            .slider {
                height: 665px !important;
            }

            .slider__text_margin-top {
                margin-top: 20% !important;
            }
        }
    }
}