@import "null-style.scss";

// Подключение шрифта Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap");

// Подключение media
@import 'media-style.scss';

// Стили кнопок
@import '../template-blocks/buttons/order-button/order-button-style.scss';
@import '../template-blocks/buttons/explore-all/explore-all-style.scss';

// Стили пагинации
@import '../template-blocks/pagination/three-circles-pagination/three-pagination-style.scss';

// Стили блоков текста
@import '../template-blocks/text-blocks/exclusive-product/exclusive-product-style.scss';

html {
    font-size: 16px;
}

$content-width: 1366px;

%img-settings {
    width: 100%;
    height: auto;
}

.container {
    max-width: $content-width;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;

    font-family: "Montserrat", sans-serif;

    .header {
        width: 100%;

        .slider {
            width: 100%;
            height: 800px;
            background: url("../img/slider-img/slider_bg.jpg") right 0/100% auto no-repeat;
            background-size: cover;

            %menu__mobile-hover {
                background-color: #fff;
                border-radius: 10px;
            }

            $menu__mobile-height: 190px;

            .menu {
                max-width: 1101px;
                min-height: 27px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                overflow: hidden;

                .menu__logo {
                    width: 13.698vw;
                    max-width: 185px;
                    min-width: 140px;
                    height: auto;
                    max-height: 22px;
                    display: block;

                    img {
                        @extend %img-settings;
                    }
                }

                .menu__nav {
                    width: 547px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    font-size: 0.875rem;
                    font-weight: 300;
                    text-transform: uppercase;

                    .nav__item {
                        height: 100%;
                        padding-top: 4px;
                        text-align: center;
                    }

                    .nav__item a {
                        color: #8c8c8c;
                    }

                    .nav__item a:hover {
                        color: #212121;
                        transition: 0.3s;
                    }

                    .nav__active {
                        font-weight: 700;
                    }

                    .nav__active a {
                        color: #212121;
                    }

                    .nav__active:after {
                        width: 100%;
                        height: 3px;
                        content: "";
                        display: block;
                        margin: 6px auto 0;
                        background-color: #212121;
                    }
                }

                .menu__mobile_wrapp {
                    width: 96px;
                    height: $menu__mobile-height;
                    position: relative;
                    display: none;

                    .menu__title {
                        line-height: 27px;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: center;
                    }

                    .menu__list {
                        position: absolute;
                        left: 0;
                        top: 27px;
                        height: 155px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        opacity: 0;
                        transition: 0.3s;

                        text-align: center;
                        text-transform: uppercase;

                        .list__item a {
                            font-weight: 300;
                            color: #6c6c6c;
                        }

                        .list__item a:hover {
                            color: #000;
                        }

                        .list__active a {
                            color: #212121;
                            font-weight: 700;
                        }

                        .list__active:after {
                            width: 100%;
                            height: 3px;
                            content: "";
                            display: block;
                            margin: 6px auto 0;
                            background-color: #212121;
                        }
                    }

                }

                .menu__mobile_wrapp:hover {
                    @extend %menu__mobile-hover;

                    .menu__list {
                        opacity: 1;
                        top: 30px;
                    }
                }
            }

            .slider__text {
                max-width: 490px;
                min-height: 233px;

                .slider__title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #43a047;
                }

                .slider__subtitle {
                    font-size: 3.875rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }

                .slider__subtitle_margin-top {
                    margin-top: 14px;
                }

                .slider__paragraph {
                    font-size: 0.875rem;
                    font-weight: 300;
                    color: #6c6c6c;
                    line-height: 24px;
                }

                .slider__paragraph_margin-top {
                    margin-top: 15px;
                }

                .slider__button_margin-top {
                    margin-top: 30px;
                }
            }

            .slider__text_margin-top {
                margin-top: 26%;
            }

            .three-pagination_position {
                position: absolute;
                bottom: 19px;
            }
        }

        .slider__pos {
            margin: 0 auto;
            padding: 5.38% 8.03% 0;
            position: relative;
        }

    }

    .content {
        width: 100%;

        $header__pagination_width: 263px;

        .featured-new {
            width: 100%;

            .featured-new__title {
                width: 100%;
                margin: 0 auto;
                padding: 0 6.5% 0;

                .header {
                    width: 100%;
                    min-height: 49px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    margin-bottom: 4.274%;

                    .header__pagination {
                        width: $header__pagination_width;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-start;
                        border-bottom: 1px solid #000;

                        .pagination-item {
                            text-align: center;
                            font-size: 2.250em;
                            line-height: 1.5;
                            font-weight: 700;
                            padding: 0 10px;
                        }

                        .pagination-item a {
                            color: #6c6c6c;
                        }

                        .pagination-item a:hover {
                            color: #212121;
                            transition: 0.3s;
                        }

                        .pagination-item_active a {
                            color: #212121;
                        }

                        .pagination-item_active a:hover {
                            color: #333;
                            transition: 0.3s;
                        }

                        .pagination-item_active {
                            border-bottom: 3px solid #000;
                        }
                    }
                }
            }

            .featured-new__slider {
                max-width: 90.652%;
                margin: 0 auto;

                .slider__products {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .product-item {
                        max-width: 270px;
                        min-width: 220px;
                        width: 17.941vw;
                        max-height: 270px;
                        position: relative;
                        margin: 1.5%;

                        .product__img {
                            @extend %img-settings;
                        }

                        .product-item_hover {
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.9;
                            border: 1px solid #9c9c9c;
                            padding: 12% 10% 0;
                            text-align: center;

                            visibility: hidden;

                            .hover__button {
                                display: block;
                                width: 30%;
                                height: 27%;
                                max-width: 50px;
                                max-height: 50px;
                                border-radius: 50%;
                                box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
                                margin: 0 auto;
                                background-color: #fff;
                                position: relative;

                                text-align: center;

                                img {
                                    position: absolute;
                                    top: 30%;
                                    left: 38%;
                                    width: 24%;
                                    height: 40%;
                                }
                            }

                            .hover__button:hover {
                                background-color: #ddd;
                                transition: 0.3s;
                            }

                            .hover__title {
                                font-size: 1.571em;
                                font-weight: 700;
                                color: #212121;
                            }

                            .hover__title_margin-top {
                                margin-top: 6.379%;
                            }

                            .hover__subtitle {
                                font-size: 1em;
                                font-weight: 300;
                                color: #6c6c6c;
                            }

                            .hover__subtitle_margin-top {
                                margin-top: 14%;
                            }
                        }
                    }

                    .product-item:hover {
                        .product-item_hover {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .featured-new_margin-top {
            margin-top: 120px;
        }

        .promo-product {
            width: 100%;
            max-height: 683px * 2;
            display: flex;
            justify-content: space-between;

            .promo-product_padding {
                padding: 16.815% 17.3% 0 3.762%;
            }

            .exclusive-product {
                width: 50%;
                height: 81vh;
                max-height: 683px;
            }

            .product__left {
                background: #e8e9eb url('../img/promo-product/product_red_chair.jpg');
                background-position: right;
                background-repeat: no-repeat;
            }

            .product__right {
                background: #f7f7f7 url('../img/promo-product/product_wood_chair.jpg');
                background-position: right;
                background-repeat: no-repeat;
            }
        }

        .promo-product_margin-top {
            margin-top: 130px;
        }

        .trending-products {
            max-width: 85.652%;
            margin: 0 auto;

            .products__header {
                width: 100%;
                min-height: 35px;
                display: flex;
                justify-content: space-between;

                .products__title {
                    font-size: 2.25rem;
                    font-weight: 700;
                    color: #212121;
                }
            }

            .products__list {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: flex-start;

                .products__item {
                    max-width: 370px;
                    min-width: 137px;
                    width: 23.154vw;
                }

                .products__item:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }

                .products__item img {
                    @extend %img-settings;
                    max-width: 370px;
                }

                .products__item_padding {
                    padding: 1.5%;
                }
            }

            .products__products_margin-top {
                margin-top: 60px;
            }
        }

        .products_margin-top {
            margin-top: 119px;
        }

        .hot-deals {
            width: 100%;
            height: 128.792vh;
            max-height: 675px;
            background: url('../img/hot-deals/bg.jpg') right no-repeat;
            position: relative;

            .exclusive-product {
                .exclusive-product__title {
                    color: #e53f3b;
                }

                .exclusive-product__subtitle {
                    font-size: 3.875rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }
            }

            .three-pagination {
                width: calc(100% - 2*25.938px);
            }

            .three-pagination_position {
                position: absolute;
                bottom: 19px;
            }
        }

        .hot-deals_padding {
            padding: 21.011% 57% 0 6.882%;
        }

        .hot-deals_margin-top {
            margin-top: 110px;
        }

        $products-height: 100vw / 2.39649;

        .exclusive-products {
            width: 85.652%;
            max-height: $products-height;
            display: flex;
            justify-content: space-between;
            justify-items: flex-start;

            .products {
                height: $products-height;
            }

            .products__left-big {
                width: 50%;
                max-width: 570px;
                max-height: 570px;
                background: url('../img/exclusive-products/product_left.jpg') no-repeat;
                background-size: cover;

                .exclusive-product_margin-padding {
                    margin: 15.6316% 0 0 4.561%;
                    padding-right: 33%;
                }
            }

            .products__left-big_margin-right {
                margin-right: .5%;
            }

            .products__right-list {
                width: 50%;
                max-width: 570px;
                max-height: 570px;
                display: flex;
                justify-content: space-around;
                align-content: space-between;
                flex-wrap: wrap;

                .right-list__item {
                    width: 48.24%;
                    max-width: 270px;
                    height: auto;
                }

                .right-list__item a img {
                    width: 100%;
                    height: auto;
                }

                .right-list__item:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
        }

        .exclusive-products_margin {
            margin: 120px auto 0;
        }

        .mobile-app {
            width: 100%;
            min-height: 516px;
            background: url('../img/mobile-app/bg.jpg') no-repeat;

            .mobile-app__paragraph {
                max-width: 34.6%;
                min-height: 19.839%;

                .paragraph__title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: #6c6c6c;
                }

                .paragraph__subtitle {
                    font-size: 3.875rem;
                    line-height: 72px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }

                .paragraph__subtitle_margin-top {
                    margin-top: 3.814%;
                }

                .paragraph__descrip {
                    font-size: 1.375rem;
                    font-weight: 300;
                    color: #6c6c6c;
                }

                .paragraph__descrip_margin-top {
                    margin-top: 4.661%;
                }

                .paragraph__links {
                    width: 227%;
                    max-width: 280px;
                    height: 2.928%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    .link__item {
                        max-width: 135px;
                        height: auto;
                    }

                    .link__item:first-child {
                        margin: 0 10px 1.5% 0;
                    }

                    .link__item:hover {
                        opacity: 0.8;
                        transition: 0.3s;
                    }
                }

                .paragraph__links_margin-top {
                    margin-top: 6.144%;
                }
            }

            .mobile-app__paragraph_margin-pad {
                margin-left: 7.164%;
                padding-top: 7.5%;
            }
        }

        .mobile-app__margin {
            margin-top: 8.5%;
        }
    }

    .footer {
        width: 100%;
        background-color: #f7f7f7;

        .footer__content {
            max-width: 85.725%;
            min-height: 17.13%;
            margin: 0 auto;

            .content__top {
                width: 100%;
                min-height: 12.553%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                .content__item {
                    padding: 0 1%;
                    .title {
                        font-size: 1.125rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        color: #6c6c6c;
                        margin-bottom: 22px;
                    }

                    .subtitle {
                        font-size: 0.875rem;
                        line-height: 22px;
                        font-weight: 300;
                        color: #212121;
                    }
                }

                .content__item:first-child {
                    min-width: 187px;
                }

                .content__item:nth-child(2) {
                    min-width: 355px;
                }

                .content__item:nth-child(3) {
                    min-width: 233px;
                }

                .contact-us {
                    max-width: 19.3%;
                    min-height: 11.87%;

                    .subtitle:last-child {
                        margin-top: 13.28%;
                    }
                }

                .useful-information {
                    width: 37%;
                    min-height: 8.625%;

                    .subtitle__list {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .list {
                            min-height: 14.692%;

                            .list__item {
                                font-size: 0.875rem;
                                line-height: 26px;
                                font-weight: 700;
                                text-transform: uppercase;
                                letter-spacing: 0.05em;
                                color: #212121;
                            }
                        }

                        .list:nth-child(1) {
                            max-width: 41.6%;
                        }

                        .list:nth-child(2) {
                            max-width: 58.5%;
                        }
                    }
                }

                .stay-in-touch {
                    max-width: 31.597%;
                    min-height: 12.553%;
                    display: flex;
                    flex-direction: column;

                    .under-title {
                        width: 100%;
                        min-height: 110px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .stay-in-touch__form {
                            width: 100%;
                            min-width: 12.972%;
                            position: relative;

                            .form__email {
                                width: 100%;
                                min-width: 171px;
                                height: 48px;
                                border: 1px solid #d9dee1;
                                background-color: #fff;
                                padding: 4.595% 14.9% 4.595% 4.595%;
                            }

                            .form__email[placeholder="your email adress"] {
                                font-size: 0.875rem;
                                line-height: 22px;
                                font-weight: 300;
                                color: #6c6c6c;
                            }

                            .form__email:hover,
                            .form__email:focus {
                                box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                                transition: 0.5s;
                            }

                            .form__plane {
                                position: absolute;
                                top: 32.3%;
                                right: 2%;
                                background-color: #fff;
                            }

                            .form__plane:hover {
                                opacity: 0.6;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }

            .content__copyright_wrap {
                width: 100%;
                padding-bottom: 50px;

                .content__copyright {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    .copy__content {
                        width: calc(100% / 3);
                    }

                    .copy__text {
                        min-width: 163px;
                        font-size: 0.75rem;
                        line-height: 26px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        color: #6c6c6c;
                    }

                    .social__links {
                        max-width: 129px;
                    }

                    .copy__terms {}
                }
            }

            .content__copyright_margin-top {
                margin-top: 10%;
            }
        }
    }

    .footer_padding {
        padding-top: 8.785%;
    }
}