@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.order-button {
  display: inline-block;
  width: 25vw;
  max-width: 212px;
  min-width: 185px;
  min-height: 45px;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  background-color: #fff;
  border-radius: 22.5px;
  text-align: center;
  padding: 0 8px 0;
}
.order-button .order-button__text {
  display: block;
  font-size: 1.1875rem;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
}
.order-button .order-button__text:after {
  content: "";
  width: 8px;
  height: 12px;
  display: inline-block;
  background-image: url("../img/slider-img/arrow.png");
  margin-left: 17px;
}

.order-button:hover {
  background-color: #eff;
  transition: 0.3s;
}

.order-button:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: -2px -2px rgba(33, 33, 33, 0.34);
  transition: 0.12s;
}

.explore-all {
  height: 100%;
  align-self: center;
}
.explore-all__paragraph {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 49px;
  color: #212121;
}
.explore-all__paragraph:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.explore-all__paragraph:after {
  content: "";
  width: 9px;
  height: 12px;
  display: inline-block;
  background: url("../img/slider-img/arrow.png");
  margin-left: 17px;
}

.three-pagination {
  width: calc(100% - 2*8.03%);
  height: 40px;
  display: inline-block;
  text-align: center;
}
.three-pagination .three-pagination__circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-color: #c5c5c5;
  vertical-align: middle;
  margin: 0 5px;
}
.three-pagination .three-pagination__circle:hover {
  background-color: #212121;
  transition: 0.3s;
}
.three-pagination .three-pagination__active {
  width: 40px;
  height: 40px;
  background-color: #212121;
}

.exclusive-product .exclusive-product__title {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
}
.exclusive-product .exclusive-product__subtitle {
  font-size: 2.2 0.25rem;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}
.exclusive-product .exclusive-product__subtitle_margin-top {
  margin-top: 4%;
}
.exclusive-product .exclusive-product__paragraph {
  font-size: 0.88125rem;
  line-height: 1.714em;
  font-weight: 300;
  color: #6c6c6c;
}
.exclusive-product .exclusive-product__paragraph_margin-top {
  margin-top: 3.3%;
}
.exclusive-product .exclusive-product__button_margin-top {
  margin-top: 30px;
}

.product-container, .main-container {
  max-width: 1366px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.product-container .header .header-inner .menu .menu__logo img, .main-container .content .trending-products .products__list .products__item img, .main-container .content .featured-new .featured-new__slider .slider__products .product-item .product__img, .main-container .header .slider .menu .menu__logo img {
  width: 100%;
  height: auto;
}

.product-container .content .products .products__button img {
  width: 100%;
  object-fit: cover;
}

.product-container .header .header-inner .menu .menu__mobile_wrapp:hover, .main-container .header .slider .menu .menu__mobile_wrapp:hover {
  background-color: #fff;
  border-radius: 10px;
}

@media (min-width: 1px) and (max-width: 960px) {
  .menu .menu__nav {
    display: none !important;
  }
  .menu .menu__mobile_wrapp {
    display: block !important;
  }

  .product-container .header .header-inner .header__paragraph_margin-top {
    margin-top: 0 !important;
  }
}
@media (min-width: 1px) and (max-width: 320px) {
  html {
    font-size: 8px !important;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  html {
    font-size: 12px !important;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 14px !important;
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .product-container .content .products .products__list .products__item {
    flex-basis: calc(100% / 3) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .product-container .content .products .products__list .products__item:nth-child(2n+1) {
    margin-right: calc(7px + 23*(100vw - 320px)/(1366 - 320)) !important;
  }
  .product-container .content .products .products__list .products__item:nth-child(2n) {
    margin-left: 0 !important;
  }
}
@media (min-width: 1px) and (max-width: 857px) {
  .main-container .content .promo-product {
    display: block !important;
  }
  .main-container .content .promo-product .exclusive-product {
    width: 100% !important;
  }
  .main-container .content .exclusive-products {
    display: none !important;
  }
  .main-container .content .promo-product .promo-product_padding {
    padding: 29% 17.3% 0 3.762% !important;
  }
}
@media (min-width: 1px) and (max-width: 857px) {
  .product-container .content .content-inner .products .header .header__pagination {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 1px) and (max-width: 960px) {
  .main-container .header .slider {
    height: 700px !important;
  }
  .main-container .header .slider__text_margin-top {
    margin-top: 3% !important;
  }
}
@media (min-width: 1px) and (max-width: 718px) {
  .main-container .content .featured-new .featured-new__title .header {
    flex-direction: column !important;
    align-items: center !important;
  }
  .main-container .content .trending-products .products__header {
    flex-direction: column !important;
  }
  .main-container .content .trending-products .products__header .products__title {
    text-align: center;
  }
}
@media (min-width: 961px) and (max-width: 1170px) {
  .main-container .header .slider {
    height: 665px !important;
  }
  .main-container .header .slider__text_margin-top {
    margin-top: 20% !important;
  }
}
@media (min-width: 1366px) and (max-width: 100vw) {
  .product-container .header .header-inner .header__paragraph_margin-top {
    margin-top: 168px !important;
  }
  .product-container .header .header-inner_padding {
    padding: 63px 167px 44px 98px !important;
  }

  .product-container .content .products .products__list .products__item {
    margin-bottom: 30px !important;
  }
  .product-container .content .products .products__list .products__item:nth-child(3n+2) {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .product-container .content .products .products__list_margin-top {
    margin-top: 50px !important;
  }
  .product-container .content .products .products__button_margin {
    margin-top: 40px !important;
  }
  .product-container .content .products_padding {
    padding: 0 98px 0 !important;
  }

  .content_margin-top {
    margin-top: 73px !important;
  }
}
html {
  font-size: 16px;
}

.main-container .header {
  width: 100%;
}
.main-container .header .slider {
  width: 100%;
  height: 800px;
  background: url("../img/slider-img/slider_bg.jpg") right 0/100% auto no-repeat;
  background-size: cover;
}
.main-container .header .slider .menu {
  max-width: 1101px;
  min-height: 27px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;
}
.main-container .header .slider .menu .menu__logo {
  width: 13.698vw;
  max-width: 185px;
  min-width: 140px;
  height: auto;
  max-height: 22px;
  display: block;
}
.main-container .header .slider .menu .menu__nav {
  width: 547px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}
.main-container .header .slider .menu .menu__nav .nav__item {
  height: 100%;
  padding-top: 4px;
  text-align: center;
}
.main-container .header .slider .menu .menu__nav .nav__item a {
  color: #8c8c8c;
}
.main-container .header .slider .menu .menu__nav .nav__item a:hover {
  color: #212121;
  transition: 0.3s;
}
.main-container .header .slider .menu .menu__nav .nav__active {
  font-weight: 700;
}
.main-container .header .slider .menu .menu__nav .nav__active a {
  color: #212121;
}
.main-container .header .slider .menu .menu__nav .nav__active:after {
  width: 100%;
  height: 3px;
  content: "";
  display: block;
  margin: 6px auto 0;
  background-color: #212121;
}
.main-container .header .slider .menu .menu__mobile_wrapp {
  width: 96px;
  height: 190px;
  position: relative;
  display: none;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__title {
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__list {
  position: absolute;
  left: 0;
  top: 27px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  text-transform: uppercase;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__list .list__item a {
  font-weight: 300;
  color: #6c6c6c;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__list .list__item a:hover {
  color: #000;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__list .list__active a {
  color: #212121;
  font-weight: 700;
}
.main-container .header .slider .menu .menu__mobile_wrapp .menu__list .list__active:after {
  width: 100%;
  height: 3px;
  content: "";
  display: block;
  margin: 6px auto 0;
  background-color: #212121;
}
.main-container .header .slider .menu .menu__mobile_wrapp:hover .menu__list {
  opacity: 1;
  top: 30px;
}
.main-container .header .slider .slider__text {
  max-width: 490px;
  min-height: 233px;
}
.main-container .header .slider .slider__text .slider__title {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #43a047;
}
.main-container .header .slider .slider__text .slider__subtitle {
  font-size: 3.875rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.main-container .header .slider .slider__text .slider__subtitle_margin-top {
  margin-top: 14px;
}
.main-container .header .slider .slider__text .slider__paragraph {
  font-size: 0.875rem;
  font-weight: 300;
  color: #6c6c6c;
  line-height: 24px;
}
.main-container .header .slider .slider__text .slider__paragraph_margin-top {
  margin-top: 15px;
}
.main-container .header .slider .slider__text .slider__button_margin-top {
  margin-top: 30px;
}
.main-container .header .slider .slider__text_margin-top {
  margin-top: 26%;
}
.main-container .header .slider .three-pagination_position {
  position: absolute;
  bottom: 19px;
}
.main-container .header .slider__pos {
  margin: 0 auto;
  padding: 5.38% 8.03% 0;
  position: relative;
}
.main-container .content {
  width: 100%;
}
.main-container .content .featured-new {
  width: 100%;
}
.main-container .content .featured-new .featured-new__title {
  width: 100%;
  margin: 0 auto;
  padding: 0 6.5% 0;
}
.main-container .content .featured-new .featured-new__title .header {
  width: 100%;
  min-height: 49px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 4.274%;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination {
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item {
  text-align: center;
  font-size: 2.25em;
  line-height: 1.5;
  font-weight: 700;
  padding: 0 10px;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item a {
  color: #6c6c6c;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item a:hover {
  color: #212121;
  transition: 0.3s;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item_active a {
  color: #212121;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item_active a:hover {
  color: #333;
  transition: 0.3s;
}
.main-container .content .featured-new .featured-new__title .header .header__pagination .pagination-item_active {
  border-bottom: 3px solid #000;
}
.main-container .content .featured-new .featured-new__slider {
  max-width: 90.652%;
  margin: 0 auto;
}
.main-container .content .featured-new .featured-new__slider .slider__products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item {
  max-width: 270px;
  min-width: 220px;
  width: 17.941vw;
  max-height: 270px;
  position: relative;
  margin: 1.5%;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  border: 1px solid #9c9c9c;
  padding: 12% 10% 0;
  text-align: center;
  visibility: hidden;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__button {
  display: block;
  width: 30%;
  height: 27%;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__button img {
  position: absolute;
  top: 30%;
  left: 38%;
  width: 24%;
  height: 40%;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__button:hover {
  background-color: #ddd;
  transition: 0.3s;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__title {
  font-size: 1.571em;
  font-weight: 700;
  color: #212121;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__title_margin-top {
  margin-top: 6.379%;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__subtitle {
  font-size: 1em;
  font-weight: 300;
  color: #6c6c6c;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item .product-item_hover .hover__subtitle_margin-top {
  margin-top: 14%;
}
.main-container .content .featured-new .featured-new__slider .slider__products .product-item:hover .product-item_hover {
  visibility: visible;
}
.main-container .content .featured-new_margin-top {
  margin-top: 120px;
}
.main-container .content .promo-product {
  width: 100%;
  max-height: 1366px;
  display: flex;
  justify-content: space-between;
}
.main-container .content .promo-product .promo-product_padding {
  padding: 16.815% 17.3% 0 3.762%;
}
.main-container .content .promo-product .exclusive-product {
  width: 50%;
  height: 81vh;
  max-height: 683px;
}
.main-container .content .promo-product .product__left {
  background: #e8e9eb url("../img/promo-product/product_red_chair.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.main-container .content .promo-product .product__right {
  background: #f7f7f7 url("../img/promo-product/product_wood_chair.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.main-container .content .promo-product_margin-top {
  margin-top: 130px;
}
.main-container .content .trending-products {
  max-width: 85.652%;
  margin: 0 auto;
}
.main-container .content .trending-products .products__header {
  width: 100%;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
}
.main-container .content .trending-products .products__header .products__title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #212121;
}
.main-container .content .trending-products .products__list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.main-container .content .trending-products .products__list .products__item {
  max-width: 370px;
  min-width: 137px;
  width: 23.154vw;
}
.main-container .content .trending-products .products__list .products__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.main-container .content .trending-products .products__list .products__item img {
  max-width: 370px;
}
.main-container .content .trending-products .products__list .products__item_padding {
  padding: 1.5%;
}
.main-container .content .trending-products .products__products_margin-top {
  margin-top: 60px;
}
.main-container .content .products_margin-top {
  margin-top: 119px;
}
.main-container .content .hot-deals {
  width: 100%;
  height: 128.792vh;
  max-height: 675px;
  background: url("../img/hot-deals/bg.jpg") right no-repeat;
  position: relative;
}
.main-container .content .hot-deals .exclusive-product .exclusive-product__title {
  color: #e53f3b;
}
.main-container .content .hot-deals .exclusive-product .exclusive-product__subtitle {
  font-size: 3.875rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.main-container .content .hot-deals .three-pagination {
  width: calc(100% - 2*25.938px);
}
.main-container .content .hot-deals .three-pagination_position {
  position: absolute;
  bottom: 19px;
}
.main-container .content .hot-deals_padding {
  padding: 21.011% 57% 0 6.882%;
}
.main-container .content .hot-deals_margin-top {
  margin-top: 110px;
}
.main-container .content .exclusive-products {
  width: 85.652%;
  max-height: 41.7276934183vw;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
}
.main-container .content .exclusive-products .products {
  height: 41.7276934183vw;
}
.main-container .content .exclusive-products .products__left-big {
  width: 50%;
  max-width: 570px;
  max-height: 570px;
  background: url("../img/exclusive-products/product_left.jpg") no-repeat;
  background-size: cover;
}
.main-container .content .exclusive-products .products__left-big .exclusive-product_margin-padding {
  margin: 15.6316% 0 0 4.561%;
  padding-right: 33%;
}
.main-container .content .exclusive-products .products__left-big_margin-right {
  margin-right: 0.5%;
}
.main-container .content .exclusive-products .products__right-list {
  width: 50%;
  max-width: 570px;
  max-height: 570px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
.main-container .content .exclusive-products .products__right-list .right-list__item {
  width: 48.24%;
  max-width: 270px;
  height: auto;
}
.main-container .content .exclusive-products .products__right-list .right-list__item a img {
  width: 100%;
  height: auto;
}
.main-container .content .exclusive-products .products__right-list .right-list__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.main-container .content .exclusive-products_margin {
  margin: 120px auto 0;
}
.main-container .content .mobile-app {
  width: 100%;
  min-height: 516px;
  background: url("../img/mobile-app/bg.jpg") no-repeat;
}
.main-container .content .mobile-app .mobile-app__paragraph {
  max-width: 34.6%;
  min-height: 19.839%;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__title {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__subtitle {
  font-size: 3.875rem;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__subtitle_margin-top {
  margin-top: 3.814%;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__descrip {
  font-size: 1.375rem;
  font-weight: 300;
  color: #6c6c6c;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__descrip_margin-top {
  margin-top: 4.661%;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__links {
  width: 227%;
  max-width: 280px;
  height: 2.928%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__links .link__item {
  max-width: 135px;
  height: auto;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__links .link__item:first-child {
  margin: 0 10px 1.5% 0;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__links .link__item:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.main-container .content .mobile-app .mobile-app__paragraph .paragraph__links_margin-top {
  margin-top: 6.144%;
}
.main-container .content .mobile-app .mobile-app__paragraph_margin-pad {
  margin-left: 7.164%;
  padding-top: 7.5%;
}
.main-container .content .mobile-app__margin {
  margin-top: 8.5%;
}
.main-container .footer {
  width: 100%;
  background-color: #f7f7f7;
}
.main-container .footer .footer__content {
  max-width: 85.725%;
  min-height: 17.13%;
  margin: 0 auto;
}
.main-container .footer .footer__content .content__top {
  width: 100%;
  min-height: 12.553%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-container .footer .footer__content .content__top .content__item {
  padding: 0 1%;
}
.main-container .footer .footer__content .content__top .content__item .title {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin-bottom: 22px;
}
.main-container .footer .footer__content .content__top .content__item .subtitle {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 300;
  color: #212121;
}
.main-container .footer .footer__content .content__top .content__item:first-child {
  min-width: 187px;
}
.main-container .footer .footer__content .content__top .content__item:nth-child(2) {
  min-width: 355px;
}
.main-container .footer .footer__content .content__top .content__item:nth-child(3) {
  min-width: 233px;
}
.main-container .footer .footer__content .content__top .contact-us {
  max-width: 19.3%;
  min-height: 11.87%;
}
.main-container .footer .footer__content .content__top .contact-us .subtitle:last-child {
  margin-top: 13.28%;
}
.main-container .footer .footer__content .content__top .useful-information {
  width: 37%;
  min-height: 8.625%;
}
.main-container .footer .footer__content .content__top .useful-information .subtitle__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container .footer .footer__content .content__top .useful-information .subtitle__list .list {
  min-height: 14.692%;
}
.main-container .footer .footer__content .content__top .useful-information .subtitle__list .list .list__item {
  font-size: 0.875rem;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #212121;
}
.main-container .footer .footer__content .content__top .useful-information .subtitle__list .list:nth-child(1) {
  max-width: 41.6%;
}
.main-container .footer .footer__content .content__top .useful-information .subtitle__list .list:nth-child(2) {
  max-width: 58.5%;
}
.main-container .footer .footer__content .content__top .stay-in-touch {
  max-width: 31.597%;
  min-height: 12.553%;
  display: flex;
  flex-direction: column;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title {
  width: 100%;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form {
  width: 100%;
  min-width: 12.972%;
  position: relative;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__email {
  width: 100%;
  min-width: 171px;
  height: 48px;
  border: 1px solid #d9dee1;
  background-color: #fff;
  padding: 4.595% 14.9% 4.595% 4.595%;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__email[placeholder="your email adress"] {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 300;
  color: #6c6c6c;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__email:hover,
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__email:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__plane {
  position: absolute;
  top: 32.3%;
  right: 2%;
  background-color: #fff;
}
.main-container .footer .footer__content .content__top .stay-in-touch .under-title .stay-in-touch__form .form__plane:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.main-container .footer .footer__content .content__copyright_wrap {
  width: 100%;
  padding-bottom: 50px;
}
.main-container .footer .footer__content .content__copyright_wrap .content__copyright {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-container .footer .footer__content .content__copyright_wrap .content__copyright .copy__content {
  width: calc(100% / 3);
}
.main-container .footer .footer__content .content__copyright_wrap .content__copyright .copy__text {
  min-width: 163px;
  font-size: 0.75rem;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}
.main-container .footer .footer__content .content__copyright_wrap .content__copyright .social__links {
  max-width: 129px;
}
.main-container .footer .footer__content .content__copyright_margin-top {
  margin-top: 10%;
}
.main-container .footer_padding {
  padding-top: 8.785%;
}

.product-container {
  height: 3000px;
}
.product-container .header {
  width: 100%;
  background-color: #f5f5f5;
}
.product-container .header .header-inner .menu {
  max-width: 1101px;
  min-height: 27px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;
}
.product-container .header .header-inner .menu .menu__logo {
  width: 13.698vw;
  max-width: 185px;
  min-width: 140px;
  height: auto;
  max-height: 22px;
  display: block;
}
.product-container .header .header-inner .menu .menu__nav {
  width: 547px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}
.product-container .header .header-inner .menu .menu__nav .nav__item {
  height: 100%;
  padding-top: 4px;
  text-align: center;
}
.product-container .header .header-inner .menu .menu__nav .nav__item a {
  color: #8c8c8c;
}
.product-container .header .header-inner .menu .menu__nav .nav__item a:hover {
  color: #212121;
  transition: 0.3s;
}
.product-container .header .header-inner .menu .menu__nav .nav__active {
  font-weight: 700;
}
.product-container .header .header-inner .menu .menu__nav .nav__active a {
  color: #212121;
}
.product-container .header .header-inner .menu .menu__nav .nav__active:after {
  width: 100%;
  height: 3px;
  content: "";
  display: block;
  margin: 6px auto 0;
  background-color: #212121;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp {
  width: 96px;
  height: 190px;
  position: relative;
  display: none;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__title {
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__list {
  position: absolute;
  left: 0;
  top: 27px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  text-transform: uppercase;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__list .list__item a {
  font-weight: 300;
  color: #6c6c6c;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__list .list__item a:hover {
  color: #000;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__list .list__active a {
  color: #212121;
  font-weight: 700;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp .menu__list .list__active:after {
  width: 100%;
  height: 3px;
  content: "";
  display: block;
  margin: 6px auto 0;
  background-color: #212121;
}
.product-container .header .header-inner .menu .menu__mobile_wrapp:hover .menu__list {
  opacity: 1;
  top: 30px;
}
.product-container .header .header-inner .header__paragraph {
  font-size: 3.875rem;
  line-height: 3.875rem;
  font-weight: 100;
  color: #212121;
}
.product-container .header .header-inner .header__paragraph_margin-top {
  margin-top: calc(68px + 100*(100vw - 320px)/(1366 - 320));
}
.product-container .header .header-inner_padding {
  padding-top: calc(35px + 28*(100vw - 320px)/(1366 - 320));
  padding-right: calc(10px + 157*(100vw - 320px)/(1366 - 320));
  padding-left: calc(10px + 88*(100vw - 320px)/(1366 - 320));
  padding-bottom: calc(30px + 14*(100vw - 320px)/(1366 - 320));
}
.product-container .content {
  width: 100%;
}
.product-container .content .content-inner {
  width: 100%;
}
.product-container .content .products {
  width: 100%;
}
.product-container .content .products .header {
  width: 100%;
  background-color: #fff;
}
.product-container .content .products .header .header__pagination {
  max-width: 654px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.125rem;
  position: relative;
}
.product-container .content .products .header .header__pagination .pagination-item {
  flex-grow: 1;
  text-align: center;
}
.product-container .content .products .header .header__pagination .pagination-item a {
  font-size: 1em;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}
.product-container .content .products .header .header__pagination .pagination-item a:hover {
  color: #212121;
  transition: 0.3s;
}
.product-container .content .products .header .header__pagination .pagination-item_active a {
  color: #212121;
}
.product-container .content .products .header .header__pagination .pagination-item_active {
  border-bottom: 3px solid #000;
}
.product-container .content .products .header .header__pagination .pagination-item_padding {
  padding: 0 5px;
}
.product-container .content .products .header .header__pagination:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  bottom: 1px;
}
.product-container .content .products .products__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.product-container .content .products .products__list .products__item {
  max-width: 370px;
  flex-grow: 1;
  flex-basis: calc(100% / 4);
  margin-bottom: calc(7px + 23*(100vw - 320px)/(1366 - 320));
}
.product-container .content .products .products__list .products__item a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-container .content .products .products__list .products__item:nth-child(3n+2) {
  margin-left: calc(7px + 23*(100vw - 320px)/(1366 - 320));
  margin-right: calc(7px + 23*(100vw - 320px)/(1366 - 320));
}
.product-container .content .products .products__list .products__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.product-container .content .products .products__list_margin-top {
  margin-top: calc(15px + 35*(100vw - 320px)/(1366 - 320));
}
.product-container .content .products .products__button {
  display: block;
  width: 5.637%;
  max-width: 42px;
  min-width: 30px;
}
.product-container .content .products .products__button:hover {
  transform: rotateZ(-360deg);
  transition: 0.8s;
}
.product-container .content .products .products__button_margin {
  margin: 0 auto;
  margin-top: calc(20px + 20*(100vw - 320px)/(1366 - 320));
}
.product-container .content .products_padding {
  padding-left: calc(10px + 88*(100vw - 320px)/(1366 - 320));
  padding-right: calc(10px + 88*(100vw - 320px)/(1366 - 320));
}
.product-container .content .exclusive-products {
  width: 100%;
  max-height: 683px;
}
.product-container .content .exclusive-products .products {
  width: 100%;
  height: inherit;
  display: flex;
}
.product-container .content .exclusive-products .products .products-item {
  width: 50%;
  height: 683px;
  font-size: 1.125rem;
}
.product-container .content .exclusive-products .products .products-item .product__title {
  font-size: 1em;
  line-height: calc(3 / 1.125rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
}
.product-container .content .exclusive-products .products .products-item .product__subtitle {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}
.product-container .content .exclusive-products .products .products-item .product__paragraph {
  font-size: calc(0.99141rem / 1.125);
  line-height: calc(1.5 / 1.125rem);
  font-weight: 300;
  color: #6c6c6c;
}
.product-container .content .exclusive-products .products .product__left {
  background: url("../img/promo-product/product_red_chair.jpg") no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
}
.product-container .content .exclusive-products .products .product__right {
  background: url("../img/promo-product/product_wood_chair.jpg") no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
}
.product-container .content .exclusive-products .products_padding {
  padding-top: calc(px + 28*(100vw - 320px)/(1366 - 320));
}
.product-container .content_margin-top {
  margin-top: calc(23px + 50*(100vw - 320px)/(1366 - 320));
}