@import "null-style.scss";

// Подключение шрифта Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,700&display=swap");

// Подключение media
@import 'media-style.scss';

// Стили кнопок
@import '../template-blocks/buttons/order-button/order-button-style.scss';
@import '../template-blocks/buttons/explore-all/explore-all-style.scss';

// Стили пагинации
@import '../template-blocks/pagination/three-circles-pagination/three-pagination-style.scss';

// Стили блоков текста
@import '../template-blocks/text-blocks/exclusive-product/exclusive-product-style.scss';

html {
    font-size: 16px;
}

.container {
    max-width: 1366px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;

    font-family: "Montserrat", sans-serif;

    .header {
        width: 100%;

        .slider {
            width: 100%;
            height: 800px;
            background: url("../img/slider-img/slider_bg.jpg") no-repeat;
            background-size: auto 100%;

            .menu {
                max-width: 1101px;
                min-height: 27px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                overflow: hidden;

                .menu__logo {
                    display: block;
                }

                .menu__nav {
                    width: 547px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;

                    .nav__item {
                        height: 100%;
                        padding-top: 4px;
                        text-align: center;
                    }

                    .nav__item a {
                        color: #8c8c8c;
                    }

                    .nav__item a:hover {
                        color: #212121;
                        transition: 0.3s;
                    }

                    .nav__active {
                        font-weight: 700;
                    }

                    .nav__active a {
                        color: #212121;
                    }

                    .nav__active:after {
                        width: 100%;
                        height: 3px;
                        content: "";
                        display: block;
                        margin: 6px auto 0;
                        background-color: #212121;
                    }
                }

                .menu__nav-mobile_wrapp {
                    display: none;
                    height: 27px;

                    .menu__nav-mobile {
                        width: 95px;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 700;
                        line-height: 27px;

                        .menu__nav-hover {
                            .menu__list {
                                background-color: #ccc;
                                position: absolute;
                                display: none;
                            }
                        }

                        .menu__nav-hover:hover {
                            .menu__list {
                                display: block;

                                .nav__item, .nav__search {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    padding-top: 8px;
                                    text-align: center;
                                    text-transform: uppercase;
                                }

                                .nav__item:first-child {
                                    padding-top: 1px;
                                }

                                .nav__item a {
                                    color: #8c8c8c;
                                }

                                .nav__item a:hover {
                                    color: #212121;
                                    transition: 0.3s;
                                }

                                .nav__active {
                                    font-weight: 700;
                                }

                                .nav__active a {
                                    color: #212121;
                                }

                                .nav__active:after {
                                    width: 100%;
                                    height: 3px;
                                    content: "";
                                    display: block;
                                    margin: 6px auto 0;
                                    background-color: #212121;
                                }
                            }
                        }
                    }

                    .menu__nav-mobile:hover {
                        background-color: #ccc;
                    }
                }
            }

            .slider__text {
                max-width: 490px;
                min-height: 233px;

                .slider__title {
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #43a047;
                }

                .slider__subtitle {
                    font-size: 62px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }

                .slider__subtitle_margin-top {
                    margin-top: 14px;
                }

                .slider__paragraph {
                    font-size: 14px;
                    font-weight: 300;
                    color: #6c6c6c;
                    line-height: 24px;
                }

                .slider__paragraph_margin-top {
                    margin-top: 15px;
                }

                .slider__button_margin-top {
                    margin-top: 30px;
                }
            }

            .slider__text_margin-top {
                margin-top: 31.333%;
            }

            .three-pagination_position {
                position: absolute;
                bottom: 19px;
            }
        }

        .slider__pos {
            margin: 0 auto;
            padding: 5.38% 8.03% 0;
            position: relative;
        }

    }

    .content {
        width: 100%;

        .featured-new {
            width: 100%;

            .featured-new__title {
                width: 100%;
                margin: 0 auto;
                padding: 10.256% 8.03% 0;

                .header {
                    width: 100%;
                    height: 49px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    margin-bottom: 4.274%;

                    .header__pagination {
                        min-width: 27.879%;
                        height: 100%;
                        position: relative;

                        .pagination-item {
                            display: inline-block;

                            text-align: center;
                            font-size: 2.250em;
                            line-height: 1.2;
                            font-weight: 700;
                        }

                        .pagination-item a {
                            color: #6c6c6c;
                        }

                        .pagination-item a:hover {
                            color: #212121;
                            transition: 0.3s;
                        }

                        .pagination-item:first-child {
                            width: 62.3%;
                        }

                        .pagination-item:nth-child(2) {
                            width: 37%;
                            margin-left: -4px;
                        }

                        .pagination-item_active a {
                            color: #212121;
                        }

                        .pagination-item_active a:hover {
                            color: #333;
                            transition: 0.3s;
                        }

                        .pagination-item_active:after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 3px;
                            background-color: #000;
                            margin-top: 10px;
                        }

                        .pagination-underline__passive {
                            display: block;
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            background-color: #000;
                        }
                    }
                }
            }

            .featured-new__slider {
                max-width: 86.284%;
                margin: 0 auto;

                .slider__products {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    align-content: flex-start;

                    .product-item {
                        max-width: 270px;
                        max-height: 270px;
                        position: relative;
                        margin-bottom: 2.7%;

                        .product__img {
                            width: 100%;
                            height: auto;
                        }

                        .product-item_hover {
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.9;
                            border: 1px solid #9c9c9c;
                            padding: 12% 10% 0;
                            text-align: center;

                            visibility: hidden;

                            .hover__button {
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
                                margin: 0 auto;
                                background-color: #fff;
                                position: relative;

                                text-align: center;

                                img {
                                    position: absolute;
                                    top: 30%;
                                    left: 38%;
                                }
                            }

                            .hover__button:hover {
                                background-color: #ddd;
                                transition: 0.3s;
                            }

                            .hover__title {
                                font-size: 1.571em;
                                font-weight: 700;
                                color: #212121;
                            }

                            .hover__title_margin-top {
                                margin-top: 6.379%;
                            }

                            .hover__subtitle {
                                font-size: 1em;
                                font-weight: 300;
                                color: #6c6c6c;
                            }

                            .hover__subtitle_margin-top {
                                margin-top: 23px;
                            }
                        }
                    }

                    .product-item:hover {
                        .product-item_hover {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .promo-product {
            width: 100%;
            min-height: 683px;
            display: flex;
            justify-content: space-between;

            .promo-product_padding {
                padding: 16.815% 18.3% 0 3.762%;
            }

            .product_left {
                background: url('../img/promo-product/product_red_chair.jpg') no-repeat;
                background-size: cover;
            }

            .product_right {
                background: url('../img/promo-product/product_wood_chair.jpg') no-repeat;
                background-size: cover;
            }
        }

        .promo-product_margin-top {
            margin-top: 100px;
        }

        .trending-products {
            max-width: 85.652%;
            margin: 0 auto;

            .products__header {
                width: 100%;
                min-height: 35px;
                display: flex;
                justify-content: space-between;

                .products__title {
                    font-size: 2.25rem;
                    font-weight: 700;
                    color: #212121;
                }
            }

            .products__list {
                width: 100%;
                min-height: 770px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: flex-start;

                .products__item {
                    max-width: 370px;
                    max-width: 370px;
                }

                .products__item:hover {
                    opacity: 0.6;
                    transition: 0.3s;

                }

                .products__item_margin-bottom {
                    margin-bottom: 30px;
                }
            }

            .products__products_margin-top {
                margin-top: 60px;
            }
        }

        .products_margin-top {
            margin-top: 119px;
        }

        .hot-deals {
            width: 100%;
            height: 800px;
            background: url('../img/hot-deals/bg.jpg') no-repeat;
            position: relative;
            overflow: hidden;

            .exclusive-product {
                .exclusive-product__title {
                    color: #e53f3b;
                }

                .exclusive-product__subtitle {
                    font-size: 3.875rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }
            }

            .three-pagination {
                width: calc(100% - 2*25.938px);
            }

            .three-pagination_position {
                position: absolute;
                bottom: 19px;
            }
        }

        .hot-deals_padding {
            padding: 21.011% 57% 0 6.882%;
        }

        .hot-deals_margin-top {
            margin-top: 110px;
        }

        .exclusive-products {
            max-width: 85.652%;
            min-height: 570px;
            display: flex;
            justify-content: space-between;
            justify-items: flex-start;
            flex-wrap: wrap;
            overflow: hidden;

            .products-left-big {
                width: 570px;
                background: url('../img/exclusive-products/product_left.jpg') no-repeat;

                .exclusive-product {
                    max-width: 345px;
                }

                .exclusive-product_margin {
                    margin: 32.6316% 0 0 4.561%;
                }
            }

            .products-right-list {
                width: 570px;
                height: 570px;
                display: flex;
                justify-content: space-between;
                justify-items: flex-start;
                align-content: space-between;
                flex-wrap: wrap;

                .right-list__item {
                    width: 270px;
                    height: 270px;
                }

                .right-list__item:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
        }

        .exclusive-products_margin {
            margin: 120px auto 0;
        }

        .mobile-app {
            width: 100%;
            min-height: 516px;
            background: url('../img/mobile-app/bg.jpg') no-repeat;

            .mobile-app__paragraph {
                max-width: 34.6%;
                min-height: 19.839%;

                .paragraph__title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: #6c6c6c;
                }

                .paragraph__subtitle {
                    font-size: 62px;
                    line-height: 72px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #212121;
                }

                .paragraph__subtitle_margin-top {
                    margin-top: 3.814%;
                }

                .paragraph__descrip {
                    font-size: 1.375rem;
                    font-weight: 300;
                    color: #6c6c6c;
                }

                .paragraph__descrip_margin-top {
                    margin-top: 4.661%;
                }

                .paragraph__links {
                    max-width: 59.245%;
                    height: 2.928%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .link__item {
                        width: 135px;
                        height: 40px;
                    }

                    .link__item:hover {
                        opacity: 0.8;
                        transition: 0.3s;
                    }
                }

                .paragraph__links_margin-top {
                    margin-top: 6.144%;
                }
            }

            .mobile-app__paragraph_margin-pad {
                margin-left: 7.164%;
                padding-top: 7.5%;
            }
        }

        .mobile-app__margin {
            margin-top: 8.5%;
        }
    }

    .footer {
        width: 100%;
        min-height: 43.002%;
        background-color: #f7f7f7;
        position: relative;

        .footer__content {
            max-width: 85.725%;
            min-height: 17.13%;
            margin: 0 auto;

            .content__top {
                width: 100%;
                min-height: 12.553%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .content__item {
                    .title {
                        font-size: 1.125rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        color: #6c6c6c;
                        margin-bottom: 22px;
                    }

                    .subtitle {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 300;
                        color: #212121;
                    }
                }

                .contact-us {
                    max-width: 19.3%;
                    min-height: 11.87%;

                    .subtitle:last-child {
                        margin-top: 13.28%;
                    }
                }

                .useful-information {
                    width: 37%;
                    min-height: 8.625%;

                    .subtitle__list {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .list {
                            min-height: 14.692%;

                            .list__item {
                                font-size: 0.875rem;
                                line-height: 26px;
                                font-weight: 700;
                                text-transform: uppercase;
                                letter-spacing: 0.05em;
                                color: #212121;
                            }
                        }

                        .list:nth-child(1) {
                            max-width: 41.6%;
                        }

                        .list:nth-child(2) {
                            max-width: 58.5%;
                        }
                    }
                }

                .stay-in-touch {
                    max-width: 31.597%;
                    min-height: 12.553%;
                    display: flex;
                    flex-direction: column;

                    .under-title {
                        width: 100%;
                        min-height: 110px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .stay-in-touch__form {
                            width: 100%;
                            min-width: 12.972%;
                            position: relative;

                            .form__email {
                                width: 100%;
                                height: 48px;
                                border: 1px solid #d9dee1;
                                background-color: #fff;
                                padding: 4.595% 12% 4.595% 4.595%;
                            }

                            .form__email[placeholder="your email adress"] {
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 300;
                                color: #6c6c6c;
                            }

                            .form__plane {
                                position: absolute;
                                top: 32.3%;
                                left: 90%;
                                background-color: #fff;
                            }

                            .form__plane:hover {
                                opacity: 0.6;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }

            .content__copyright_wrap {
                width: 85.725%;
                display: inline-block;
                text-align: center;
                position: absolute;
                bottom: 7.735%;

                .content__copyright {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .copy__text {
                        font-size: 12px;
                        line-height: 26px;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        color: #6c6c6c;
                    }

                    .social__links {}

                    .copy__terms {}
                }
            }
        }
    }

    .footer_padding {
        padding-top: 8.785%;
    }
}