%style-for-this-button {
    border: 1px solid #e7ad48;
    background-color: #ffc155;
}

div.content-about-us {
    width: 100%;
    height: 623px;
    margin-top: 155px;
    background: #ffc155 url('../../img/background/content-about-us_bgp.png') top left no-repeat;
    // font-color settings
    color: #fff;
    padding-top: 164px;

    & div.content-about-us__right-block {
        width: 505px;
        height: 293px;
        margin: 0 265px 0 auto;

        & div.content-about-us__text {
            width: 505px;
            height: 214px;
    
            // Text style for "About us"
            & a {
                @extend %headers;
                font-size: 30px;
                line-height: 30px;
                text-transform: uppercase;
                letter-spacing: -0.75px;
            }

            & a:hover {
                text-decoration: underline;
            }

            & a:active {
                color: #000;
            }
    
            // Text style for "Lorem Ipsum is simply dummy..."
            & p {
                font-family: $default_font_family;
                font-size: 13px;
                line-height: 24px;
                margin-top: 16px;
            }
        }

        & div.content-about-us__right-block__form {
            margin-top: 33px;
            // стиль кнопки "Read more"
            & button.button {
                @extend %style-for_button;
                @extend %style-for-this-button;
            }

            & button.button:hover {
                background-color: #000;
            }
        }
    }
}