@mixin font_settigs ($font-family: $default_font_family, $color: #fff, $font_size: 14px, $font_weigh: 400, $opacity: 1, $letter_spacing: normal, $text_transform: none) {
    font-family: $font-family;
    color: $color;
    font-size: $font_size;
    font-weight: $font_weigh;
    opacity: $opacity;
    letter-spacing: $letter_spacing;
    text-transform: $text_transform;
    line-height: $font_size;            // чтобы не создавались лишние отсутпы
}

div.banner {
    width: 100%;
    height: 689px;
    padding-top: 110px;
    background: url('../../img/background/banner_bg.svg') top center no-repeat;

    & div.head {
        width: 1083px;
        height: 132px;
        margin: 0 auto;

        & p.head_text {
            width: 753px;
            height: 53px;
            margin: 0 auto;
            text-align: center;

            & span:nth-child(n) {
                display: inline-block;
            }

            // Style for "Boost up your..."
            & span:nth-child(1) {
                // @include font_settigs($font-family: $Gotham_Black_font_family, $font_size: 35px, $letter_spacing: -0.88px, $text_transform: uppercase);
                @extend %headers;
            }

            // Style for "Lorem Ipsum is simply..."
            & span:nth-child(3) {
                @include font_settigs ($font_size: 16px, $font_weigh: 300);
                margin-top: 2px;
            }
        }

        & div.head_forms {
            width: 100%;
            height: 46px;
            margin-top: 33px;

            & div.head_forms_input input:nth-child(n) {
                display: inline-block;
                width: 281px;
                height: 46px;
                @include font_settigs($color: #a9a9a9, $font_size: 13px);
                margin-right: 6px;
            }

            // отступы для фонового текста в поле ввода
            & input[type=text]:nth-child(1) {
                padding-left: 28px + 13px;
            }
            & input[type=text]:nth-child(2) {
                padding-left: 28px + 16px;
            }

            // отступ для фонового текста в поле ввода
            & input[type=tel] {
                padding-left: 28px + 13px;
            }

            & div.head_forms_input input:nth-child(1) {
                background: #fff url('../../img/background/input_full_name.png') 15px 50%/13px 15px no-repeat;
            }
            & div.head_forms_input input:nth-child(2) {
                background: #fff url('../../img/background/input_email.png') 15px 50%/16px 13px no-repeat;
            }
            & div.head_forms_input input:nth-child(3) {
                background: #fff url('../../img/background/input_phone_number.png') 15px 50%/13px 14px no-repeat;
            }

            & button {
                float: right;
                width: 211px;
                height: 46px;
                background-color: #ffbb42;
                @include font_settigs($text_transform: uppercase);
            }

            & button:hover {
                background-color: #000;
            }
        }
    }
    
    div.laptop {
        width: 647px;
        height: 380px;
        margin: 67px auto 0;

        & div.laptop__image {
            width: 100%;
            height: 343px;
            background: url('../../img/banner_laptop_picture.png') 102px 18px/445px 264px no-repeat, url('../../img/banner_laptop.png') center top/647px 343px no-repeat;
        }

        & div.circle {
            width: 63px;
            height: 12px;
            margin: 24px auto 0;

            & div:nth-child(n) {
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 2px solid #dedfe0;
                border-radius: 50%;
                margin-right: 10px;
            }

            & div:nth-child(1) {
                border-color: #1ca8dd;
            }

            & div:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}
