%style-headers-in-cards {
    color: #818b95;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}

%style-pay-info-money {
    color: #ffbb42;
    font-family: "Lato - Bold", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-variant: small-caps;
}

%style-pay-info-money-per-month {
    font-family: "Lato Light", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #818b95;
    font-weight: 300;
    font-variant: small-caps;
}

%style-info-list {
    color: #b5bbc1;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

div.content-choos-your-price {
    width: 100%;
    height: 898px;
    background-color: #e7edf3;
    padding-top: 137px;

    & div.head {
        height: 47px;
        margin: 0 auto;
        text-align: center;
    
        & p:nth-child(1) {
            @extend %headers;
            font-size: 28px;
            letter-spacing: 1.2px;
            color: #394b50;
        }
    
        & p:nth-child(2) {
            font-family: "Lato", sans-serif;
            color: #75888d;
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
        }
    }

    & div.trio-menu {
        width: 1170px;
        height: 501px;
        margin: 51px auto 0;
        position: relative;

        // стиль для всех карточек
        & div.cards:nth-child(n) {
            display: inline-block;
            width: 391px;
            height: 441px;
            border: 1px solid #ccd5df;
            background-color: #fff;
            border-radius: 3px;
            margin-top: 30px;
            text-align: center;
            padding-top: 54px;

            & p.head {
                display: inline-block;
                @extend %style-headers-in-cards;
            }

            & div.pay-info {
                width: 102px;
                height: 77px;
                margin: 25px auto 0;

                // Style for "$22"
                & p:nth-child(1) {
                    @extend %style-pay-info-money;
                }

                // Style for "per month"
                & p:nth-child(2) {
                    @extend %style-pay-info-money-per-month;
                    margin-top: -2px;
                }
            }

            & div.info-list {
                width: 329px;
                height: 108px;
                margin: 0 auto;

                & div.info-list_setting:nth-child(n) {
                    width: 100%;
                    height: 27px;
                    margin-top: 13px;

                    & div {
                        width: 100%;
                        height: 1px;
                        background-color: #e2e9f0;
                    }

                    & p {
                        @extend %style-info-list;
                        display: inline-block;
                    }
                }

                & div.info-list_setting:nth-child(1) {
                    margin-top: 32px;
                }
            }

            & form button.button-get-started {
                width: 131px;
                height: 42px;
                margin: 35px auto 0;
                @extend %style-for_button;
            }

            & form button.button-get-started:hover {
                background-color: #000;
            }
        }

        // стиль для второй карточки
        & div.cards:nth-child(2) {
            position: absolute;
            margin-top: 0;
            left: 389px;
            width: 395px;
            height: 501px;
            background-color: #709dca;

            & p.head {
                color: #fff;
            }

            & div.pay-info {
                & p:nth-child(n) {
                    color: #fff;
                }
            }

            & div.info-list {
                & div.info-list_setting:nth-child(n) {
                    & p {
                        color: #c2e1ff;
                    }
                }
            }
        }

        // стиль для третьей карточки
        & div.cards:nth-child(3) {
            float: right;
        }
    }
}