* {
	padding: 0;
	margin: 0;
	border: 0;
	/*По умолчанию не учитываются отступы, поля и границы, поэтому box-sizing = border-box
	для корректного подсчета. Свойство box-sizing позволяет сдеалть так, 
	чтобы свойства width и height задавали размеры не содержимого, а размеры блока.*/
	box-sizing: border-box;
	font-family: "Proxima Nova - Regular", sans-serif;
}

.body {
	color: #000;
	min-width: 1000px;
}

.h1 {
	font-size: 68px;
	font-weight: 400;
	color: #2e2e2e;
	line-height: 64px;
}

.h2 {
	font-size: 28px;
	font-weight: 600;
	font-family: "Proxima Nova Lt", sans-serif;
}

.simple_text {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	opacity: 0.7;
}

.first_section {
	margin: 84px auto auto;
	width: 812px;
	height: 471px;
}

.left_container {
	float: left;
	height: 204px;
	width: 396px;
	margin-top: 88px;
	margin-right: 21px;
}

.green_text {
	color: #00bc87;
}

.margin_text {
	margin-top: 26px;
}

.right_container {
	display: inline-block;
}

.label {
	position: relative;
	width: 395px;
	height: 384px;
}

.locationH {
	position: absolute;
	width: 130px;
	height: 170px;	
	left: 105px;
}

.locationR {
	position: absolute;
	width: 244px;
	height: 271px;
	top: 53px;
	right: 0;
}

.locationL {
	position: absolute;
	width: 212px;
	height: 242px;
	top: 57px;
	left: 0;
}

.locationMid {
	position: absolute;
	width: 233px;
	height: 236px;
	top: 64px;
	left: 53px;
}

.locationF {
	position: absolute;
	width: 162px;
	height: 125px;
	top: 203px;
	left: 23px;
}

.first_line {
	margin-top: 83px;
}

.second_section {
	height: 873px;
	width: 812px;
	margin: 60px auto 0px;
}

.title_2 {
	text-align: center;
}

.sec_section_h2 {
	color: #2e2e2e;
}

.sec_section_text {
	font-size: 18px;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 52px;
}

.sec_section_img {
	display: block;
	width: 812px;
	height: 480px;
	box-shadow: 0 2px 35px rgba(78, 66, 66, 0.25);
}

.list {
	width: 812px;
	height: 142px;
	margin-top: 79px;
	margin-bottom: 85px;
}

.div_LVI {
	width: 257px;
	height: 142px;
	border-radius: 4px;
	border: 2px solid #f0f0f0;
	margin-right: 21px;
	float: left;
}

.sec_section_img_LVI {
	position: relative;
}

.backgr_img {
	position: absolute;
	top: 20px;
	left: 20px;
}

.front_img {
	position: absolute;
	top: 29px;
	left: 29px;
}

.arrow_set {
	left: 26px;
}

.attention_set {
	left: 28px;
}

.sec_section_p1 {
	font-size: 20px;
	font-weight: 400;
	color: #2e2e2e;
	padding-top: 28px;
	padding-left: 79px;
}

.sec_section_p2 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #4a4a4a;
	padding-top: 5px;
	padding-left: 79px;
}

.margin_right_20 {
	margin-left: -1px;
}

.no_margin_right {
	margin-right: 0;
}

.third_section {
	text-align: center;
	height: 589px;
	background-color: #000;
	margin-top: 85px;
}

.third_sec_container {
	display: inline-block;
	text-align: left;
	margin-top: 88px;
	width: 812px;
	height: 429px;
}

.ts_left_container {
	float: left;
	height: 265px;
	width: 299px;
	margin-top: 73px;
	margin-right: 110px;
}

.ts_h2 {
	line-height: 32px;
	color: #fff;
}

.th_sec_text {
	margin-top: 17px;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.th_sec_text_CAPS {
	margin-top: 42px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #737373;
}

.button {
	margin-top: 20px;
	width: 187px;
	height: 36px;
	color: #fff;
	border-radius: 4px;
	background-color: #00bc87;
}

.ts_right_container {
	display: inline-block;
	height: 429px;
	width: 403px;
}

.ts_img_set {
	display: block;
	width: 403px;
	height: 429px;
}

.fourth_section {
	width: 729px;
	height: 602px;
	background-color: #E6E6FA;
	margin: 80px auto;
	text-align: center;
}

.four_head_img {
	width: 198px;
	height: 50px;
	display: inline-block;
	position: relative;
}

.four_img {
	width: 49px;
	height: 50px;
	top: 0;
	left: 0;
}

.blue_square {
	border: 2px solid #1a66ff;
}

.triangle_img {
	left: 149px;
}

.blue_square_right {
	position: absolute;
	left: 149px;
}

.line_red {
	top: 24px;
	left: 49px;
}

.title_F {
	height: 89px;
	margin: 40px auto;
}

.h2_fourth {
	line-height: 32px;
}

.title_F_with_bottom {
	text-align: left;
	width: 364px;
	height: 31px;
	margin: 26px auto;
}

.title_F_set {
	display: inline-block;
	float: left;
}

.simple_text_fourth_L {
	font-size: 18px;
	line-height: 24px;
	padding-top: 2px;
}

.img_F_settings {
	position: relative;
	padding-left: 9px;
	padding-right: 13px;
}

.fourth_button_ALT {
	position: absolute;
	top: 6px;
	left: 20px;
}

.bar_menu {
	width: 729px;
	height: 335px;
	margin-top: 88px;
	background-color: #F5F5F5;
}

.head_menu {
	width: 729px;
	height: 80px;
}

.tabs_menu {
	display: inline-block;
	width: 729px;
	height: 31px;
	background-color: #f0f0f0;
}

.r_y_g_buttoms {
	float: left;
	padding-top: 11px;
}

.red_but {
	padding-left: 9px;
}

.yg_butt {
	padding-left: 8px;
}

.vert_line {
	float: left;
	margin-left: 11px;
}

.folder_img {
	float: left;
	padding-left: 9px;
	padding-top: 11px;
}

.text_tab_menu {
	float: left;
	color: #777;
	font-family: "Open Sans Semi Bold", sans-serif;
	font-size: 11px;
	font-weight: 600;
	padding-top: 8px;
	padding-left: 10px;
}

.opened_tab {
	float: left;
	margin-left: 98px;
	width: 220px;
	height: 31px;
	background-color: #ffffff;
}

.path_img_set {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

.text_tab_add_set {
	float: left;
	color: #2e2e2e;
	padding-top: 8px;
	padding-left: 10px;
}

.x_img_set {
	padding-top: 12px;
	padding-left: 100px;
}

.x_img_set_2 {
	float: left;
	padding-top: 12px;
	padding-left: 93px;
}

.left_menu {
	width: 50px;
	height: 255px;
	background-color: #C0C0C0;
}

.low_tab_men_set {
	width: 728px;
	height: 49px;
	background-color: #fff;
}

.avoc_img {
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}

.arrow_2_set {
	padding-top: 20px;
}

.UI_text_set {
	font-size: 13px;
	padding-top: 17px;
	padding-left: 20px;
}

.arrow_3_set {
	padding-left: 21px;
}

.trainer_text_set {
	color: #2e2e2e;
	font-size: 13px;
	padding-top: 17px;
	padding-left: 20px;
}

.arrow_down_set {
	padding-top: 22px;
	padding-left: 10px;
}

.vert_line_set {
	float: left;
	padding-top: 15px;
	padding-left: 30px;
}

.arr_lr_set {
	padding-top: 19px;
	padding-left: 30px;
}

.insp_txt_set {
	color: #2e2e2e;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 17px;
	padding-left: 10px;
}

.mess_set {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	top: 18px;
	left: 30px;
}

.mess_img_set {
	position: absolute;
	left: 0;
	top: 2px;
}

.oval_mess_set {
	position: absolute;
	top: 0;
	left: 10px;
}