@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: #fff;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.content_header {
  width: 100%;
  height: 85px;
  padding: 21px 0 0 120px;
}

.content_header_label {
  width: 211px;
  height: 36px;
  float: left;
  margin-left: 16px;
}
.content_header_label.content_header_label_img {
  display: inline-block;
}
.content_header_label span {
  color: #6d6e70;
  font-family: "Nunito", sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  position: relative;
  top: 7px;
  left: 4px;
}

.content_header_menu {
  width: 523px;
  height: 13px;
  float: left;
  margin: 18px 0 0 119px;
  color: #9a9a9a;
}
.content_header_menu span {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: inline-block;
}
.content_header_menu span:nth-child(1) {
  margin: 0px 23px 0 2px;
}
.content_header_menu span:nth-child(2) {
  margin-right: 22px;
}
.content_header_menu span:nth-child(3) {
  margin-right: 15px;
}
.content_header_menu span:nth-child(4) {
  margin-right: 23px;
}

.content_header_login_button {
  width: 100px;
  height: 37px;
  background: #bdda5c;
  border-radius: 19px;
  float: left;
  text-align: center;
  margin: 5px 0 0 73px;
}
.content_header_login_button span {
  opacity: 0.81;
  color: #fff;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 37px;
}

.content_top {
  width: 100%;
  height: 570px;
  background: url("../../img/content_top_image.jpg") center no-repeat;
  color: #fff;
  font-family: "Open Sans - Semibold", sans-serif;
}

.content_top_img {
  width: 100%;
  height: 570px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 150px 0 0 203px;
}

.content_top_text {
  width: 891px;
  height: 124px;
  text-align: center;
}
.content_top_text span:nth-child(1) {
  font-size: 49px;
  line-height: 77px;
  font-weight: 600;
}
.content_top_text span:nth-child(2) {
  font-size: 35px;
  line-height: 65px;
}

.content_top_button {
  width: 254px;
  height: 73px;
  background-color: #99c50a;
  text-align: center;
  border-radius: 10px;
  margin: 57px 0 0 318px;
}
.content_top_button span {
  font-size: 19px;
  line-height: 73px;
}

.content_top_arrows {
  width: 58px;
  height: 20px;
  margin: 99px 0 0 901px;
}
.content_top_arrows img:nth-child(n) {
  display: inline-block;
}
.content_top_arrows img:nth-child(2) {
  float: right;
}

.content_center {
  width: 980px;
  height: 1050px;
  margin: 0 auto;
  padding: 99px 0 0 1px;
}

.content_center_header {
  width: 528px;
  height: 183px;
  font-family: "Open Sans - Semibold", sans-serif;
  margin: 0 0 0 237px;
}
.content_center_header img {
  display: inline-block;
  margin-left: 256px;
}
.content_center_header div {
  color: #515151;
  font-size: 31px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 39px;
}

.content_center_text {
  text-align: center;
  width: 920px;
  height: 154px;
  color: #9a9a9a;
  font-size: 19px;
  margin: 60px auto 0;
  line-height: 34px;
}

.content_center_menu_STC {
  width: 100%;
  height: 43px;
  margin-top: 165px;
}
.content_center_menu_STC div:nth-child(n) {
  display: inline-block;
  height: 43px;
}
.content_center_menu_STC div:nth-child(1) {
  width: 172px;
  float: left;
  margin-left: 2px;
}
.content_center_menu_STC div:nth-child(2) {
  width: 253px;
  float: left;
  margin-left: 137px;
}
.content_center_menu_STC div:nth-child(3) {
  width: 269px;
  float: right;
  margin-right: 14px;
}
.content_center_menu_STC div div:nth-child(n) {
  float: left;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #5f5f5f;
  text-align: center;
}
.content_center_menu_STC div:nth-child(1) div:nth-child(1) {
  background-color: #add136;
}
.content_center_menu_STC div:nth-child(n) span:nth-child(1) {
  position: relative;
  top: 11px;
  color: #fff;
  width: 7px;
  height: 15px;
  font-size: 20px;
}
.content_center_menu_STC div:nth-child(n) span:nth-child(2) {
  position: relative;
  left: 10px;
  color: #656565;
  font-size: 33px;
  font-weight: 300;
  line-height: 50px;
}
.content_center_menu_STC div:nth-child(1) span:nth-child(2) {
  left: 24px;
}
.content_center_menu_STC div:nth-child(2) span:nth-child(2) {
  left: 33px;
}
.content_center_menu_STC div:nth-child(3) span:nth-child(2) {
  left: 31px;
}

.content_center_line {
  width: 201px;
  height: 1px;
  background-color: #add136;
  margin-top: 37px;
}

.content_center_bottom {
  width: 868px;
  height: 136px;
  margin: 65px 0 0 87px;
}
.content_center_bottom img {
  float: left;
  width: 113px;
  height: 102px;
  margin-top: 22px;
}
.content_center_bottom div {
  width: 651px;
  height: 136px;
  float: right;
  margin-top: -2px;
}
.content_center_bottom div h2 {
  color: #add136;
  font-size: 25px;
}
.content_center_bottom div p {
  height: 77px;
  margin: 30px 0 0 3px;
  color: #606060;
  opacity: 0.67;
  font-size: 17px;
  line-height: 27px;
}

.content_center_two_images {
  width: 100%;
  height: 305px;
}
.content_center_two_images div.left {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #e2f8ff;
}
.content_center_two_images div.left img {
  display: inline-block;
  width: 133px;
  height: 112px;
  margin: 84px 0 0 140px;
}
.content_center_two_images div.left div.left_container_text {
  display: inline-block;
  width: 256px;
  height: 212px;
  margin: 45px 0 0 41px;
}
.content_center_two_images div.left div.left_container_text h2 {
  color: #515151;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
}
.content_center_two_images div.left div.left_container_text p {
  color: #515151;
  font-size: 17px;
  margin: 29px 0 0 -1px;
  line-height: 29px;
}
.content_center_two_images div.left div.left_container_text div {
  width: 187px;
  height: 51px;
  background-color: #26a6d1;
  margin: 24px 0 0 3px;
  text-align: center;
  border-radius: 8px;
}
.content_center_two_images div.left div.left_container_text div span {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  position: relative;
  top: 17px;
}
.content_center_two_images div.right {
  background-color: #f5f9eb;
}
.content_center_two_images div.right img {
  width: 101px;
  height: 92px;
  margin: 96px 0 0 74px;
}
.content_center_two_images div.right div.right_container_text {
  margin: 45px 0 0 70px;
}
.content_center_two_images div.right div.right_container_text p {
  margin: 27px 0 0 -3px;
}
.content_center_two_images div.right div.right_container_text div {
  background-color: #add136;
  margin: 23px 0 0 1px;
}

.content_featured_projects {
  width: 978px;
  height: 689px;
  background-color: #eee;
  margin: 81px auto 80px;
}
.content_featured_projects .content_featured_projects_top {
  width: 100%;
  height: 102px;
}
.content_featured_projects .content_featured_projects_top div:first-child {
  float: left;
  width: 668px;
  height: 100%;
}
.content_featured_projects .content_featured_projects_top div:first-child h2 {
  color: #515151;
  font-size: 29px;
}
.content_featured_projects .content_featured_projects_top div:first-child p {
  color: #8f8f8f;
  font-size: 17px;
  margin-top: 26px;
  line-height: 26px;
}
.content_featured_projects .content_featured_projects_top div:last-child {
  display: inline-block;
  width: 181px;
  height: 50px;
  background-color: #fff;
  margin: 28px 0 0 125px;
  text-align: center;
  border: 1px solid #515151;
  opacity: 0.42;
  border-radius: 10px;
}
.content_featured_projects .content_featured_projects_top div:last-child span {
  display: block;
  position: relative;
  top: 17px;
  opacity: 0.71;
  color: #515151;
  font-weight: 600;
}
.content_featured_projects .content_featured_projects_center {
  width: 100%;
  height: 521px;
  margin-top: 66px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 {
  display: inline-block;
  width: 300px;
  height: 520px;
  background-color: #f9f9f9;
  margin-right: 35px;
  border-radius: 10px;
  overflow: hidden;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_image {
  width: 300px;
  height: 226px;
  background: url("../../img/featured_projects/content_featured_projects_angle.svg") top left/74px 74px no-repeat, url("../../img/featured_projects/content_featured_projects_1.png") top left/300px 226px no-repeat;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_image span.text_new {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  top: 15px;
  left: 3px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_image div {
  width: 139px;
  height: 35px;
  background-color: #26a6d1;
  border-radius: 5px;
  text-align: center;
  padding-top: 9px;
  margin: 160px 0 0 150px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_image div span:nth-child(n) {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_image div span:first-child {
  font-weight: 400;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_text_top {
  width: 251px;
  height: 114px;
  margin: 29px auto 0;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_text_top h2 {
  color: #484848;
  font-size: 17px;
  font-weight: 700;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_text_top p {
  width: 100%;
  height: 82px;
  opacity: 0.71;
  color: #484848;
  font-size: 13px;
  margin-top: 15px;
  line-height: 21px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top {
  width: 254px;
  height: 47px;
  margin: 20px auto 0;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top div.loading_bar {
  width: 100%;
  height: 14px;
  background-color: #e3e3e3;
  border-radius: 7px;
  overflow: hidden;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top div.loading_bar div {
  width: 38px;
  height: 100%;
  background-color: #add136;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top span:nth-child(n) {
  display: inline-block;
  color: #8d8d8d;
  font-size: 13px;
  margin-top: 20px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top span:nth-child(2) {
  float: left;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bar_top span:nth-child(3) {
  float: right;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_line {
  width: 252px;
  height: 1px;
  background-color: #d6d6d6;
  margin: 17px auto 0;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bottom {
  display: inline-block;
  height: 17px;
  margin: 26px 0 0 110px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bottom span {
  display: inline-block;
  opacity: 0.85;
  color: #484848;
  font-size: 15px;
  position: relative;
  top: 1px;
}
.content_featured_projects .content_featured_projects_center div.new_content_1 div.new_content_bottom img {
  display: inline-block;
  margin-left: 6px;
}
.content_featured_projects .content_featured_projects_center div:nth-child(3) {
  margin-right: 0px;
}