@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: #fff;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.content_header {
  width: 100%;
  height: 85px;
  padding: 21px 0 0 120px;
}

.content_header_label {
  width: 211px;
  height: 36px;
  float: left;
  margin-left: 16px;
}
.content_header_label.content_header_label_img {
  display: inline-block;
}
.content_header_label span {
  color: #6d6e70;
  font-family: "Nunito", sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  position: relative;
  top: 7px;
  left: 4px;
}

.content_header_menu {
  width: 523px;
  height: 13px;
  float: left;
  margin: 18px 0 0 119px;
  color: #9a9a9a;
}
.content_header_menu span {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  display: inline-block;
}
.content_header_menu span:nth-child(1) {
  margin: 0px 23px 0 2px;
}
.content_header_menu span:nth-child(2) {
  margin-right: 22px;
}
.content_header_menu span:nth-child(3) {
  margin-right: 15px;
}
.content_header_menu span:nth-child(4) {
  margin-right: 23px;
}

.content_header_login_button {
  width: 100px;
  height: 37px;
  background: #bdda5c;
  border-radius: 19px;
  float: left;
  text-align: center;
  margin: 5px 0 0 73px;
}
.content_header_login_button span {
  opacity: 0.81;
  color: #fff;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 37px;
}

.content_top {
  width: 100%;
  height: 570px;
  background: url("../../img/Content_top_img.jpg");
}