.footer {
    width: 100%;
    background-color: #f7f7f7;
    font-size: 1rem; // 14px

    .footer__inner {
        width: 100%;

        .content__top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            // flex-wrap: wrap;

            // Contact us, Useful info...
            .content__block {
                flex-grow: 1;
                padding: 0 .5%;

                .title {
                    font-size: 1em;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: #6c6c6c;
                }

                .title_margin-bottom {
                    margin-bottom: calc(3px + 19*(100vw - 320px)/(1366 - 320));
                }

                .subtitle {
                    font-size: 0.8em;
                    line-height: calc(22 / 14);
                    font-weight: 300;
                    color: #212121;
                }
            }

            // Contact Us
            .contact-us {
                max-width: 223px;

                .sub-subtitle_margin-top {
                    margin-top: calc(5px + 25*(100vw - 320px)/(1366 - 320));
                }
            }

            // Useful Information
            .useful-information {
                min-width: 216px;
                max-width: 430px;

                .subtitle__list {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .list {
                        .list__item {
                            font-size: 0.9em;
                            line-height: 1.85em;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 0.05em;
                            color: #212121;
                        }
                    }

                    .list:nth-child(1) {
                        padding-right: 4px;
                    }
                }
            }

            // Let’s Stay in Touch!
            .stay-in-touch {
                max-width: 351px;

                .stay-in-touch__form {
                    width: 100%;
                    position: relative;

                    .form__email {
                        width: 100%;
                        // min-width: 171px;
                        height: 48px;
                        border: 1px solid #d9dee1;
                        background-color: #fff;
                        padding: 4.595% 14.9% 4.595% 4.595%;
                        transition: 0.5s;
                    }

                    .form__email[placeholder="your email adress"] {
                        font-size: 0.875rem;
                        line-height: 22px;
                        font-weight: 300;
                        color: #6c6c6c;
                    }

                    .form__email:hover,
                    .form__email:focus {
                        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                    }

                    .form__plane {
                        position: absolute;
                        top: 32.3%;
                        right: 2%;
                        background-color: #fff;
                    }

                    .form__plane:hover {
                        opacity: 0.6;
                        transition: 0.3s;
                    }
                }
            }
        }

        .content__copyright_wrap {
            width: 100%;
            padding-bottom: 50px;

            .content__copyright {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                .copy__content {
                    width: calc(100% / 3);
                }

                .copy__text {
                    min-width: 163px;
                    font-size: 0.75rem;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: #6c6c6c;
                }

                .social__links {
                    max-width: 129px;
                }

                .copy__terms {}
            }
        }

        .content__copyright_margin-top {
            margin-top: 10%;
        }
    }
}

.footer_padding {
    padding-top: calc(60px + 60*(100vw - 320px)/(1366 - 320));
    padding-right: calc(20px + 76*(100vw - 320px)/(1366 - 320));
    padding-left: calc(20px + 76*(100vw - 320px)/(1366 - 320));
}