.footer {
    width: 100%;
    background-color: #f7f7f7;

    .footer__content {
        max-width: 85.725%;
        min-height: 17.13%;
        margin: 0 auto;

        .content__top {
            width: 100%;
            min-height: 12.553%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            .content__item {
                padding: 0 1%;
                .title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: #6c6c6c;
                    margin-bottom: 22px;
                }

                .subtitle {
                    font-size: 0.875rem;
                    line-height: 22px;
                    font-weight: 300;
                    color: #212121;
                }
            }

            .content__item:first-child {
                min-width: 187px;
            }

            .content__item:nth-child(2) {
                min-width: 355px;
            }

            .content__item:nth-child(3) {
                min-width: 233px;
            }

            .contact-us {
                max-width: 19.3%;
                min-height: 11.87%;

                .subtitle:last-child {
                    margin-top: 13.28%;
                }
            }

            .useful-information {
                width: 37%;
                min-height: 8.625%;

                .subtitle__list {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .list {
                        min-height: 14.692%;

                        .list__item {
                            font-size: 0.875rem;
                            line-height: 26px;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 0.05em;
                            color: #212121;
                        }
                    }

                    .list:nth-child(1) {
                        max-width: 41.6%;
                    }

                    .list:nth-child(2) {
                        max-width: 58.5%;
                    }
                }
            }

            .stay-in-touch {
                max-width: 31.597%;
                min-height: 12.553%;
                display: flex;
                flex-direction: column;

                .under-title {
                    width: 100%;
                    min-height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .stay-in-touch__form {
                        width: 100%;
                        min-width: 12.972%;
                        position: relative;

                        .form__email {
                            width: 100%;
                            min-width: 171px;
                            height: 48px;
                            border: 1px solid #d9dee1;
                            background-color: #fff;
                            padding: 4.595% 14.9% 4.595% 4.595%;
                        }

                        .form__email[placeholder="your email adress"] {
                            font-size: 0.875rem;
                            line-height: 22px;
                            font-weight: 300;
                            color: #6c6c6c;
                        }

                        .form__email:hover,
                        .form__email:focus {
                            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                            transition: 0.5s;
                        }

                        .form__plane {
                            position: absolute;
                            top: 32.3%;
                            right: 2%;
                            background-color: #fff;
                        }

                        .form__plane:hover {
                            opacity: 0.6;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .content__copyright_wrap {
            width: 100%;
            padding-bottom: 50px;

            .content__copyright {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                .copy__content {
                    width: calc(100% / 3);
                }

                .copy__text {
                    min-width: 163px;
                    font-size: 0.75rem;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: #6c6c6c;
                }

                .social__links {
                    max-width: 129px;
                }

                .copy__terms {}
            }
        }

        .content__copyright_margin-top {
            margin-top: 10%;
        }
    }
}