// шрифт Lato 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
// обнуляю стили
@import "null_style.scss";

// переменные
$default_font_family: "Open Sans", sans-serif;
$Gotham_Black_font_family: "Gotham_Black", sans-serif;

// шаблон для заголовков
%headers {
    font-family: $Gotham_Black_font_family;
    font-size: 35px;
    letter-spacing: -0.88px;
    text-transform: uppercase;
    color: #fff;
}

// общий стиль для кнопок
%style-for_button {
    // div свойства кнопок
    display: block;
    width: 145px;
    height: 46px;
    background-color: #ffbb42;
    border-radius: 2px;

    // style свойства кнопок
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    
    // * div {
    //     outline: #000 dashed 1px;
    // }

    // * p {
    //     outline: #ddd  solid 1px;
    // }

    // * a {
    //     outline: #709dca dotted 1px;
    // }

    .content {
        max-width: 1700px;
        min-width: 1650px;
        height: 6055px;
        margin: 0 auto;
        background-color: #fff;

        @import "../common.blocks/blocks/header-blocks/header-style.scss";
        @import "../common.blocks/blocks/content-blocks/Banner/banner-style.scss";
        @import "../common.blocks/blocks/content-blocks/Choose-your-price/choose-your-price-style.scss";
        @import "../common.blocks/blocks/content-blocks/About-us/about-us-style.scss";
        @import "../common.blocks/blocks/content-blocks/Choose-your-price/choose-your-price-style.scss";
        @import "../common.blocks/blocks/content-blocks/How-it-works/how-it-works-style.scss";
    }
}

// шрифт Gotham - Black
@font-face {
    font-family: "Gotham_Black";
    src: url('../../fonts/Gotham_Black/Gotham_Black.ttf') format("truetype");
    font-style: normal;
    font-weight: 900;
}

// шрифт Open Sans
@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open_Sans/Open_Sans.ttf');
    font-style: normal;
    font-weight: 400;
}

// шрифт Lato - Bold
@font-face {
    font-family: "Lato - Bold";
    src: url('../../fonts/Lato_Bold/Lato_Bold.ttf');
    font-style: normal;
    font-weight: 400;
}

// шрифт Lato - Light
@font-face {
    font-family: "Lato - Light";
    src: url('../../fonts/Lato_Light/Lato_Light.ttf');
    font-style: normal;
    font-weight: 400;
}