.header {
    width: 100%;
    height: 113px;
    background-color: #333;

    .container {
        width: 100%;
        height: 100%;

        .header__menu {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
            float: left;
        
            .header__slogan {
                font-size: 2.2em;
                font-weight: 600;
                color: #fff;
                display: inline-block;
                margin-left: 50px;
            }
        
            .header__nav {
                float: right;
                margin: 5px 10px 0 0;
                height: 40px;
        
                li {
                    display: inline-block;
                    min-width: $width-of-menu-li;
                    text-align: center;
        
                    a {
                        color: #ccc;
                        font-size: 1.5em;
                        display: block;
                        width: 100%;
                    }
        
                    a:hover {
                        color: #fff;
                        transition: 0.5s;
                    }
                }
        
                li:first-child:hover ~ .heder__underline {
                    visibility: visible;
                    width: $width-of-menu-li;
                }
        
                li:nth-child(2):hover ~ .heder__underline {
                    visibility: visible;
                    width: $width-of-menu-li;
                    margin-left: $width-of-menu-li;
                }
        
                li:nth-child(3):hover ~ .heder__underline {
                    visibility: visible;
                    width: $width-of-menu-li;
                    margin-left: 2 * $width-of-menu-li;
                }
        
                .heder__underline {
                    visibility: hidden;
                    width: 0;
                    height: 2px;
                    background: tomato;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}