.nav {
  width: 100%;
  height: 2.625rem;
  display: flex;
  justify-content: space-between;
}
.nav .nav__label img {
  height: 100%;
}
.nav .nav__burger {
  height: 2.625rem;
}
.nav .nav__burger .menu-text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 2.625rem;
  color: #fff;
}
.nav .nav__burger .menu-text:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  background: url("../../../img/templates/nav/burger.png") no-repeat;
  margin-left: 2px;
}