// Файл обнуляющих стилей
@import "nullstyle.scss";

// Переменные
$fz: 25px;
$color: green;

// Шаблоны
%link_border {
	border-bottom: 2px dashed #777;
	color: #000;
}

// Миксины
@mixin fonz($f, $c) {
	font-size: $f;
	color: $c;
}

.block {
	width: 300px / 960px * 100%;
	background-color: #777;
	padding: 30px;
	line-height: 30px;
	.block_text {
		font-size: $fz;
		span {
			color: $color;
		}
	}
}

.link {
	color: red;
	font-size: $fz;
	.block & {
		font-size: $fz;
	}
	&:hover {
		color: $color;
	}
	@extend %link_border;
}

.link_2 {
	@include fonz(40px, #999);
	@extend %link_border;
}
