* {
	padding: 0;
	margin: 0;
	border: 0;
}

.body {
	font-size: 25px;
}

.family {
	font-family: "Arial", sans-serif;
	font-size: 30px;
}

.font {
	font-size: 40px;
}

.italic {
	font-style: italic;
}

.weigth {
	font-weight: 700;
}

.color {
	color: #f00f00;
}

.right {
	text-align: center;
}

.decor {
	text-decoration: underline;
}

.shad {
	text-shadow: 4px 5px 2px #B0C4DE;
}

.transf {
	text-transform: uppercase;
}

.indent {
	text-indent: 50px;
}

.space {
	letter-spacing: 5px;
}

.wordspace {
	word-spacing: 10px;
}

/*Не переносит строку*/
.whitespace {
	white-space: nowrap;
}

.height {
	line-height: 70px;
}