.menu {
    max-width: 1101px;
    min-height: 27px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    overflow: hidden;

    .menu__logo {
        width: 13.698vw;
        max-width: 185px;
        min-width: 140px;
        height: auto;
        max-height: 22px;
        display: block;

        img {
            @extend %img-settings;
        }
    }

    .menu__nav {
        width: 547px;
        height: 100%;
        display: flex;
        justify-content: space-between;

        font-size: 0.875rem;
        font-weight: 300;
        text-transform: uppercase;

        .nav__item {
            height: 100%;
            padding-top: 4px;
            text-align: center;
        }

        .nav__item a {
            color: #8c8c8c;
        }

        .nav__item a:hover {
            color: #212121;
            transition: 0.3s;
        }

        .nav__active {
            font-weight: 700;
        }

        .nav__active a {
            color: #212121;
        }

        .nav__active:after {
            width: 100%;
            height: 3px;
            content: "";
            display: block;
            margin: 6px auto 0;
            background-color: #212121;
        }
    }

    .menu__mobile_wrapp {
        width: 96px;
        height: $menu__mobile-height;
        position: relative;
        display: none;

        .menu__title {
            line-height: 27px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
        }

        .menu__list {
            position: absolute;
            left: 0;
            top: 27px;
            height: 155px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: 0;
            transition: 0.3s;

            text-align: center;
            text-transform: uppercase;

            .list__item a {
                font-weight: 300;
                color: #6c6c6c;
            }

            .list__item a:hover {
                color: #000;
            }

            .list__active a {
                color: #212121;
                font-weight: 700;
            }

            .list__active:after {
                width: 100%;
                height: 3px;
                content: "";
                display: block;
                margin: 6px auto 0;
                background-color: #212121;
            }
        }

    }

    .menu__mobile_wrapp:hover {
        @extend %menu__mobile-hover;

        .menu__list {
            opacity: 1;
            top: 30px;
        }
    }
}