.exclusive-product {
    .exclusive-product__title {
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #1e88e5;
    }

    .exclusive-product__subtitle {
        font-size: 2.2.25rem;
        line-height: 1.2;
        font-weight: 700;
        color: #212121;
    }

    .exclusive-product__subtitle_margin-top {
        margin-top: 4%;
    }

    .exclusive-product__paragraph {
        font-size: 0.88125rem;
        line-height: 1.714em;
        font-weight: 300;
        color: #6c6c6c;
    }

    .exclusive-product__paragraph_margin-top {
        margin-top: 3.3%;
    }

    .exclusive-product__button_margin-top {
        margin-top: 30px;
    }
}