@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body .content div.content-service div.content-service__head p:nth-child(1), body .content div.banner div.head p.head_text span:nth-child(1) {
  font-family: "Gotham_Black", sans-serif;
  font-size: 35px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
body .content {
  max-width: 1700px;
  height: 6055px;
  margin: 0 auto;
  background-color: #fff;
}
body .content .header div.menu span:nth-child(n), body .content .header div.menu div.yellow_block a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
body .content .header {
  width: 100%;
  height: 93px;
}
body .content .header img {
  display: inline-block;
  margin: 22px 0 0 265px;
}
body .content .header div.menu {
  display: inline-block;
  width: 794px;
  height: 34px;
  margin: 30px 0 0 310px;
}
body .content .header div.menu div.yellow_block {
  display: inline-block;
  width: 81px;
  height: 100%;
  background-color: #ffbb42;
  text-align: center;
}
body .content .header div.menu div.yellow_block a {
  display: inline-block;
  margin-top: 11px;
}
body .content .header div.menu div.yellow_block a:hover {
  color: #000;
}
body .content .header div.menu span:nth-child(n) {
  display: inline-block;
  margin: 10px 0 0 14px;
  color: #868686;
}
body .content .header div.menu span:nth-child(3) {
  margin-left: 35px;
}
body .content .header div.menu span:nth-child(4) {
  margin-left: 32px;
}
body .content .header div.menu span:nth-child(5) {
  margin-left: 33px;
}
body .content .header div.menu span:nth-child(6) {
  margin-left: 32px;
}
body .content .header div.menu span:nth-child(7) {
  margin-left: 31px;
}
body .content div.banner {
  width: 100%;
  height: 689px;
  padding-top: 110px;
  background: url("../../img/background/banner_bg.svg") top center no-repeat;
}
body .content div.banner div.head {
  width: 1083px;
  height: 132px;
  margin: 0 auto;
}
body .content div.banner div.head p.head_text {
  width: 753px;
  height: 53px;
  margin: 0 auto;
  text-align: center;
}
body .content div.banner div.head p.head_text span:nth-child(n) {
  display: inline-block;
}
body .content div.banner div.head p.head_text span:nth-child(3) {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  opacity: 1;
  letter-spacing: normal;
  text-transform: none;
  line-height: 16px;
  margin-top: 2px;
}
body .content div.banner div.head div.head_forms {
  width: 100%;
  height: 46px;
  margin-top: 33px;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(n) {
  display: inline-block;
  width: 281px;
  height: 46px;
  font-family: "Open Sans", sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: normal;
  text-transform: none;
  line-height: 13px;
  margin-right: 6px;
}
body .content div.banner div.head div.head_forms input[type=text]:nth-child(1) {
  padding-left: 41px;
}
body .content div.banner div.head div.head_forms input[type=text]:nth-child(2) {
  padding-left: 44px;
}
body .content div.banner div.head div.head_forms input[type=tel] {
  padding-left: 41px;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(1) {
  background: #fff url("../../img/background/input_full_name.png") 15px 50%/13px 15px no-repeat;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(2) {
  background: #fff url("../../img/background/input_email.png") 15px 50%/16px 13px no-repeat;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(3) {
  background: #fff url("../../img/background/input_phone_number.png") 15px 50%/13px 14px no-repeat;
}
body .content div.banner div.head div.head_forms button {
  float: right;
  width: 211px;
  height: 46px;
  background-color: #ffbb42;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  line-height: 14px;
}
body .content div.banner div.head div.head_forms button:hover {
  background-color: #000;
}
body .content div.banner div.laptop {
  width: 647px;
  height: 380px;
  margin: 67px auto 0;
}
body .content div.banner div.laptop div.laptop__image {
  width: 100%;
  height: 343px;
  background: url("../../img/banner_laptop_picture.png") 102px 18px/445px 264px no-repeat, url("../../img/banner_laptop.png") center top/647px 343px no-repeat;
}
body .content div.banner div.laptop div.circle {
  width: 63px;
  height: 12px;
  margin: 24px auto 0;
}
body .content div.banner div.laptop div.circle div:nth-child(n) {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #dedfe0;
  border-radius: 50%;
  margin-right: 10px;
}
body .content div.banner div.laptop div.circle div:nth-child(1) {
  border-color: #1ca8dd;
}
body .content div.banner div.laptop div.circle div:nth-child(3) {
  margin-right: 0;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(1) {
  color: #394b50;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(2), body .content div.content-service div.content-service__head p:nth-child(2) {
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
body .content div.content-service {
  width: 1170px;
  height: 570px;
  margin: 100px auto 0;
}
body .content div.content-service div.content-service__head {
  width: 370px;
  height: 47px;
  margin: 0 auto;
  text-align: center;
}
body .content div.content-service div.content-service__head p:nth-child(1) {
  font-size: 28px;
  letter-spacing: 1.5px;
  color: #394b50;
}
body .content div.content-service div.content-service__head p:nth-child(2) {
  color: #394b50;
  font-size: 16px;
  line-height: 22px;
}
body .content div.content-service div.content-service__menu {
  width: 100%;
  height: 427px;
  margin-top: 92px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) {
  width: 555px;
  height: 100%;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) {
  width: 100%;
  height: 95px;
  margin-top: 74px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) img.content-sevice__menu__serv__block_img:nth-child(n) {
  display: inline-block;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) {
  width: 468px;
  height: 100%;
  display: inline-block;
  margin-left: 33px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(2) {
  margin-top: 13px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(1) {
  margin-top: 0;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) {
  float: left;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(2) div.content-service__menu___serv__block_head:nth-child(2) {
  width: 444px;
  margin-left: 16px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(3) {
  margin-top: 72px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(3) div.content-service__menu___serv__block_head:nth-child(2) {
  margin-left: 31px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) {
  display: inline-block;
  margin-left: 59px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(1) div.content-service__menu___serv__block_head {
  margin: 2px 0 0 2px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(2) div.content-service__menu___serv__block_head:nth-child(2) {
  width: 471px;
  margin-left: 30px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) {
  margin-top: 68px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) img.content-service__menu__serv__block_img {
  margin-left: 15px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) div.content-service__menu___serv__block_head {
  margin-top: 5px;
}
body .content div.content-about-us {
  width: 100%;
  height: 623px;
  margin-top: 155px;
  background-color: #eee;
}

@font-face {
  font-family: "Gotham_Black";
  src: url("../../fonts/Gotham_Black/Gotham_Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/Open_Sans.ttf");
  font-style: normal;
  font-weight: 400;
}