@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Gotham_Black";
  src: url("../fonts/Gotham_Black/Gotham_Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/Open_Sans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato - Bold";
  src: url("../fonts/Lato_Bold/Lato_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lato - Light";
  src: url("../fonts/Lato_Light/Lato_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/Open_Sans_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
body .content div.newsletter div.header p.header__title, body .content div.happy-clients div.header p.header__title, body .content div.content-choos-your-price div.content-choos-your-price__head p:nth-child(1), body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text a, body .content div.content-service div.content-service__head p:nth-child(1), body .content div.banner div.head p.head_text span:nth-child(1) {
  font-family: "Gotham_Black", sans-serif;
  font-size: 35px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
}

body .content div.newsletter div.section form.section__form button.section__button, body .content div.content-hiw form.form button.form__button, body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) form button.button-get-started, body .content div.content-about-us div.content-about-us__right-block div.content-about-us__right-block__form button.button, body .content div.banner div.head div.head_forms button {
  display: block;
  width: 145px;
  height: 46px;
  background-color: #ffbb42;
  border-radius: 2px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
body .content {
  max-width: 1700px;
  min-width: 1650px;
  height: 7000px;
  margin: 0 auto;
  background-color: #fff;
}
body .content .header div.menu span:nth-child(n), body .content .header div.menu div.yellow_block a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
body .content .header {
  width: 100%;
  height: 93px;
}
body .content .header img {
  display: inline-block;
  margin: 22px 0 0 265px;
}
body .content .header div.menu {
  display: inline-block;
  width: 794px;
  height: 34px;
  margin: 30px 0 0 310px;
}
body .content .header div.menu div.yellow_block {
  display: inline-block;
  width: 81px;
  height: 100%;
  background-color: #ffbb42;
  text-align: center;
}
body .content .header div.menu div.yellow_block a {
  display: inline-block;
  margin-top: 11px;
}
body .content .header div.menu div.yellow_block a:hover {
  color: #000;
}
body .content .header div.menu span:nth-child(n) {
  display: inline-block;
  margin: 10px 0 0 14px;
  color: #868686;
}
body .content .header div.menu span:nth-child(3) {
  margin-left: 35px;
}
body .content .header div.menu span:nth-child(4) {
  margin-left: 32px;
}
body .content .header div.menu span:nth-child(5) {
  margin-left: 33px;
}
body .content .header div.menu span:nth-child(6) {
  margin-left: 32px;
}
body .content .header div.menu span:nth-child(7) {
  margin-left: 31px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__right-block__form button.button, body .content div.banner div.head div.head_forms button {
  float: right;
  width: 211px;
}
body .content div.banner {
  width: 100%;
  height: 689px;
  padding-top: 110px;
  background: url("../common.blocks/blocks/content-blocks/Banner/img/background.svg") top center no-repeat;
}
body .content div.banner div.head {
  width: 1083px;
  height: 132px;
  margin: 0 auto;
}
body .content div.banner div.head p.head_text {
  width: 753px;
  height: 53px;
  margin: 0 auto;
  text-align: center;
}
body .content div.banner div.head p.head_text span:nth-child(n) {
  display: inline-block;
  letter-spacing: -0.88px;
}
body .content div.banner div.head p.head_text span:nth-child(3) {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  opacity: 1;
  letter-spacing: normal;
  text-transform: none;
  line-height: 16px;
  margin-top: 2px;
}
body .content div.banner div.head div.head_forms {
  width: 100%;
  height: 46px;
  margin-top: 33px;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(n) {
  display: inline-block;
  width: 281px;
  height: 46px;
  font-family: "Open Sans", sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
  letter-spacing: normal;
  text-transform: none;
  line-height: 13px;
  margin-right: 6px;
}
body .content div.banner div.head div.head_forms input[type=text]:nth-child(1) {
  padding-left: 41px;
}
body .content div.banner div.head div.head_forms input[type=text]:nth-child(2) {
  padding-left: 44px;
}
body .content div.banner div.head div.head_forms input[type=tel] {
  padding-left: 41px;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(1) {
  background: #fff url("../common.blocks/blocks/content-blocks/Banner/img/Input-img/full-name.png") 15px 50%/13px 15px no-repeat;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(2) {
  background: #fff url("../common.blocks/blocks/content-blocks/Banner/img/Input-img/email.png") 15px 50%/16px 13px no-repeat;
}
body .content div.banner div.head div.head_forms div.head_forms_input input:nth-child(3) {
  background: #fff url("../common.blocks/blocks/content-blocks/Banner/img/Input-img/number.png") 15px 50%/13px 14px no-repeat;
}
body .content div.banner div.head div.head_forms button:hover {
  background-color: #000;
  border-color: #000;
}
body .content div.banner div.laptop {
  width: 647px;
  height: 380px;
  margin: 67px auto 0;
}
body .content div.banner div.laptop div.laptop__image {
  width: 100%;
  height: 343px;
  background: url("../common.blocks/blocks/content-blocks/Banner/img/laptop-picture.png") 102px 18px/445px 264px no-repeat, url("../common.blocks/blocks/content-blocks/Banner/img/laptop.png") center top/647px 343px no-repeat;
}
body .content div.banner div.laptop div.circle {
  width: 63px;
  height: 12px;
  margin: 24px auto 0;
}
body .content div.banner div.laptop div.circle div:nth-child(n) {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #dedfe0;
  border-radius: 50%;
  margin-right: 10px;
}
body .content div.banner div.laptop div.circle div:nth-child(1) {
  border-color: #1ca8dd;
}
body .content div.banner div.laptop div.circle div:nth-child(3) {
  margin-right: 0;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(1) {
  color: #394b50;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(2), body .content div.content-service div.content-service__head p:nth-child(2) {
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
body .content div.content-service {
  width: 1170px;
  height: 570px;
  margin: 100px auto 0;
}
body .content div.content-service div.content-service__head {
  width: 370px;
  height: 47px;
  margin: 0 auto;
  text-align: center;
}
body .content div.content-service div.content-service__head p:nth-child(1) {
  font-size: 28px;
  letter-spacing: 1.5px;
  color: #394b50;
}
body .content div.content-service div.content-service__head p:nth-child(2) {
  color: #394b50;
  font-size: 16px;
  line-height: 22px;
}
body .content div.content-service div.content-service__menu {
  width: 100%;
  height: 427px;
  margin-top: 92px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) {
  width: 555px;
  height: 100%;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) {
  width: 100%;
  height: 95px;
  margin-top: 74px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) img.content-sevice__menu__serv__block_img:nth-child(n) {
  display: inline-block;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) {
  width: 468px;
  height: 100%;
  display: inline-block;
  margin-left: 33px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(n) div.content-service__menu___serv__block_head:nth-child(n) p:nth-child(2) {
  margin-top: 13px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(n) div.content-service__menu__serv__block:nth-child(1) {
  margin-top: 0;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) {
  float: left;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(2) div.content-service__menu___serv__block_head:nth-child(2) {
  width: 444px;
  margin-left: 16px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(3) {
  margin-top: 72px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(1) div.content-service__menu__serv__block:nth-child(3) div.content-service__menu___serv__block_head:nth-child(2) {
  margin-left: 31px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) {
  display: inline-block;
  margin-left: 59px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(1) div.content-service__menu___serv__block_head {
  margin: 2px 0 0 2px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(2) div.content-service__menu___serv__block_head:nth-child(2) {
  width: 471px;
  margin-left: 30px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) {
  margin-top: 68px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) img.content-service__menu__serv__block_img {
  margin-left: 15px;
}
body .content div.content-service div.content-service__menu div.content-service__menu__serv:nth-child(2) div.content-service__menu__serv__block:nth-child(3) div.content-service__menu___serv__block_head {
  margin-top: 5px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__right-block__form button.button, body .content div.banner div.head div.head_forms button {
  border: 1px solid #e7ad48;
  background-color: #ffc155;
}
body .content div.content-about-us {
  width: 100%;
  height: 623px;
  margin-top: 155px;
  background: #ffc155 url("../common.blocks/blocks/content-blocks/About-us/img/table-bg.png") top left no-repeat;
  color: #fff;
  padding-top: 164px;
}
body .content div.content-about-us div.content-about-us__right-block {
  width: 505px;
  height: 293px;
  margin: 0 265px 0 auto;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text {
  width: 505px;
  height: 214px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text a {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.75px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text a:hover {
  text-decoration: underline;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text a:active {
  color: #000;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__text p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 16px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__right-block__form {
  margin-top: 33px;
}
body .content div.content-about-us div.content-about-us__right-block div.content-about-us__right-block__form button.button:hover {
  background-color: #000;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) p.head {
  color: #818b95;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.pay-info p:nth-child(1) {
  color: #ffbb42;
  font-family: "Lato - Bold", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.pay-info p:nth-child(2) {
  font-family: "Lato Light", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #818b95;
  font-weight: 300;
  font-variant: small-caps;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list div.info-list_setting:nth-child(n) p {
  color: #b5bbc1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
body .content div.content-choos-your-price {
  width: 100%;
  height: 898px;
  background-color: #e7edf3;
  padding-top: 137px;
}
body .content div.content-choos-your-price div.content-choos-your-price__head {
  height: 47px;
  margin: 0 auto;
  text-align: center;
}
body .content div.content-choos-your-price div.content-choos-your-price__head p:nth-child(1) {
  font-size: 28px;
  letter-spacing: 1.2px;
  color: #394b50;
}
body .content div.content-choos-your-price div.content-choos-your-price__head p:nth-child(2) {
  font-family: "Lato", sans-serif;
  color: #75888d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu {
  width: 1170px;
  height: 501px;
  margin: 51px auto 0;
  position: relative;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) {
  display: inline-block;
  width: 391px;
  height: 441px;
  border: 1px solid #ccd5df;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 30px;
  text-align: center;
  padding-top: 54px;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) p.head {
  display: inline-block;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.pay-info {
  width: 102px;
  height: 77px;
  margin: 25px auto 0;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.pay-info p:nth-child(2) {
  margin-top: -2px;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list {
  width: 329px;
  height: 108px;
  margin: 0 auto;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list div.info-list_setting:nth-child(n) {
  width: 100%;
  height: 27px;
  margin-top: 13px;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list div.info-list_setting:nth-child(n) div {
  width: 100%;
  height: 1px;
  background-color: #e2e9f0;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list div.info-list_setting:nth-child(n) p {
  display: inline-block;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) div.info-list div.info-list_setting:nth-child(1) {
  margin-top: 32px;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) form button.button-get-started {
  width: 131px;
  height: 42px;
  margin: 35px auto 0;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(n) form button.button-get-started:hover {
  background-color: #000;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(2) {
  position: absolute;
  margin-top: 0;
  left: 389px;
  width: 395px;
  height: 501px;
  background-color: #709dca;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(2) p.head {
  color: #fff;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(2) div.pay-info p:nth-child(n) {
  color: #fff;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(2) div.info-list div.info-list_setting:nth-child(n) p {
  color: #c2e1ff;
}
body .content div.content-choos-your-price div.content-choos-your-price__trio-menu div.cards:nth-child(3) {
  float: right;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside h2.steps-section-content-hiw__s-title {
  color: #394b50;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside p.steps-section-content-hiw__text {
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
body .content div.content-hiw {
  width: 100%;
  height: 858px;
  padding-top: 155px;
}
body .content div.content-hiw div.header {
  height: 49px;
  margin: 0 auto;
  text-align: center;
}
body .content div.content-hiw div.header p.header__title {
  font-family: "Gotham_Black", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.5px;
}
body .content div.content-hiw div.header p.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
body .content div.content-hiw div.content-hiw__header_color {
  color: #394b50;
}
body .content div.content-hiw div.content-hiw__steps-section {
  width: 1118px;
  height: 299px;
  margin: 0 auto;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside {
  display: inline-block;
  width: 213px;
  height: 100%;
  vertical-align: top;
  text-align: center;
  margin-right: 85px;
  position: relative;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside img.steps-section-content-hiw__img {
  display: block;
  margin: 0 auto;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside img.steps-section-content-hiw__img_margin_top35 {
  margin-top: 35px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside img.steps-section-content-hiw__img_margin_top40 {
  margin-top: 40px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside p.steps-section-content-hiw__text {
  margin-top: 28px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside p.steps-section-content-hiw__text_margin_top102 {
  margin-top: 102px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside p.steps-section-content-hiw__text_margin_top96 {
  margin-top: 96px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.arrow {
  width: 128px;
  height: 32px;
  margin: 30 0 0 300px;
  position: absolute;
  top: 0;
  left: 0;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.arrow div.arrow__triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid #76a1cc;
  display: inline-block;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.arrow div.triangle_left {
  border-left: 2px solid transparent;
  border-right: 8px solid transparent;
  float: left;
  margin-top: 19px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.arrow div.arrow__line-between-triangles {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border-top: 2px dotted #76a1cc;
  border-left: 2px dotted transparent;
  border-right: 2px dotted transparent;
  top: 0px;
  left: -21px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.arrow div.triangle_right {
  border-left: 8px solid transparent;
  border-right: 2px solid transparent;
  float: right;
  margin-top: 22px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.content-hiw__steps-section__arrow_postion_up-down {
  top: -28px;
  left: -109px;
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside div.content-hiw__steps-section__arrow_postion_down_up {
  top: 68px;
  left: -110px;
  transform: rotate(-180deg);
}
body .content div.content-hiw div.content-hiw__steps-section div.steps-section-content-hiw__aside:last-child {
  margin-right: 0;
}
body .content div.content-hiw div.steps-section-content-hiw {
  margin-top: 72px;
}
body .content div.content-hiw form.form button.form__button {
  margin: 97px auto 0;
}
body .content div.content-hiw form.form button.form__button_hover:hover {
  background-color: #000;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph p.paragraph__text {
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
body .content div.happy-clients div.section div.section__asite p.section__subparagraph span:nth-child(n) {
  color: #99a9ae;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
body .content div.happy-clients {
  width: 100%;
  height: 908px;
  background-color: #ffc155;
  padding-top: 141px;
}
body .content div.happy-clients div.header {
  height: 49px;
  margin: 0 auto;
  text-align: center;
}
body .content div.happy-clients div.header p.header__title {
  font-size: 28px;
}
body .content div.happy-clients div.header p.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
body .content div.happy-clients div.section {
  width: 1170px;
  height: 502px;
}
body .content div.happy-clients div.section div.section__asite {
  display: inline-block;
  width: 567px;
  height: 241px;
  background-color: #fff;
  vertical-align: top;
}
body .content div.happy-clients div.section div.section__asite img.sction__img {
  display: inline-block;
}
body .content div.happy-clients div.section div.section__asite img.sction__img_position {
  margin: 43px 0 0 30px;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph {
  display: inline-block;
  width: 365px;
  height: 110px;
  position: relative;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph img.section__quot {
  display: inline-block;
  position: absolute;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph img.section__quot_top {
  top: 0;
  left: 0;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph img.section__quot_bottom {
  top: 99px;
  left: 163px;
  transform: rotateY(180deg);
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph p.paragraph__text {
  padding-left: 18px;
}
body .content div.happy-clients div.section div.section__asite div.section__paragraph_position {
  margin: 45px 0 0 11px;
}
body .content div.happy-clients div.section div.section__asite p.section__subparagraph {
  display: inline-block;
}
body .content div.happy-clients div.section div.section__asite p.section__subparagraph span:nth-child(1) {
  color: #f6772c;
}
body .content div.happy-clients div.section div.section__asite p.section__subparagraph span:nth-child(2) {
  color: #394b50;
}
body .content div.happy-clients div.section div.section__asite p.section__subparagraph_position {
  margin: 8px 0 0 184px;
}
body .content div.happy-clients div.section div.section__asite_position_lt {
  margin: 0 0 0 0;
}
body .content div.happy-clients div.section div.section__asite_position_rt {
  margin-left: 32px;
}
body .content div.happy-clients div.section div.section__asite_position_lb {
  margin-top: 20px;
}
body .content div.happy-clients div.section div.section__asite_position_rb {
  margin: 20px 0 0 32px;
}
body .content div.happy-clients div.section_position {
  margin: 58px auto 0;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext {
  font-family: "Open Sans", sans-serif;
}
body .content div.newsletter {
  width: 1170px;
  height: 794px;
  margin: 154px auto 0;
}
body .content div.newsletter div.header {
  height: 51px;
  margin: 0 auto;
  text-align: center;
}
body .content div.newsletter div.header p.header__title {
  font-size: 30px;
  color: #394b50;
}
body .content div.newsletter div.header p.header__subtitle {
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #394b50;
}
body .content div.newsletter div.section {
  width: 1102px;
  height: 649px;
  margin: 38px auto 0;
  background: url("../common.blocks/blocks/content-blocks/Newsletters/img/background/background.png") bottom center no-repeat;
}
body .content div.newsletter div.section form.section__form {
  width: 934px;
  height: 47px;
}
body .content div.newsletter div.section form.section__form input.section__input {
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  background-color: #fff;
  height: 47px;
  display: inline-block;
  vertical-align: top;
  color: #a9a9a9;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
body .content div.newsletter div.section form.section__form input.section__input_size_small_img {
  background: url("../common.blocks/blocks/content-blocks/Banner/img/Input-img/full-name.png") 15px 50%/13px 15px no-repeat;
  width: 308px;
}
body .content div.newsletter div.section form.section__form input.section__input_size_small_img[type=text] {
  padding-left: 41px;
}
body .content div.newsletter div.section form.section__form input.section__input_size_big_img {
  width: 388px;
  background: url("../common.blocks/blocks/content-blocks/Banner/img/Input-img/email.png") 16px 50%/16px 13px no-repeat;
  margin-left: 7px;
}
body .content div.newsletter div.section form.section__form input.section__input_size_big_img[type=text] {
  padding-left: 45px;
}
body .content div.newsletter div.section form.section__form button.section__button {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  height: 47px;
}
body .content div.newsletter div.section form.section__form button.section__button:hover {
  background-color: #000;
}
body .content div.newsletter div.section form.section__form button.section__button_position {
  float: right;
}
body .content div.newsletter div.section form.section__form_position {
  margin: 0 auto;
}
body .content div.newsletter div.section div.section__adress {
  width: 1102px;
  height: 549px;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock {
  width: 279px;
  height: 292px;
  background: url("../common.blocks/blocks/content-blocks/Newsletters/img/section__adress.png") -3px -3px/285px 298px no-repeat;
  padding-top: 62px;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext {
  width: 142px;
  height: 150px;
  text-align: center;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext h2.fulltext__header {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext p.fulltext__paragraph {
  line-height: 24px;
  color: #98a3a6;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext p.fulltext__paragraph span.paragraph__span {
  color: #ffbb42;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext p.fulltext__paragraph_margintop {
  margin-top: 11px;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock div.textblock__fulltext_position {
  margin: 0 auto;
}
body .content div.newsletter div.section div.section__adress div.adress__textblock_position {
  margin: 0 auto;
}
body .content div.newsletter div.section div.section__adress img.adress__label_position {
  display: block;
  margin: 5px auto 0;
}
body .content div.newsletter div.section div.section__adress_position {
  margin-top: 53px;
  padding-top: 40px;
}
body .content div.newsletter div.line {
  width: 100%;
  height: 1px;
  background-color: #e3e7ec;
}
body .content div.newsletter div.line_position {
  margin: 56px auto 0;
}
body .content div.contact-info {
  width: 726px;
  height: 97px;
  margin: 68px auto 0;
}
body .content div.menu, body .content div.telephone, body .content div.labels {
  outline: 1px dashed #444;
}
body .content div.contact-info {
  outline: 1px dotted #444;
}