%menu-font-set {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.menu {
    max-width: 1101px;
    height: 27px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .menu__logo {
        display: block;
    }

    .menu__nav {
        width: 547px;
        height: 27px;
        display: flex;
        justify-content: space-between;
        @extend %menu-font-set;

        .nav__item {
            height: 100%;
            padding-top: 4px;
            text-align: center;

            a {
                color: #8c8c8c;
            }

            a:hover {
                color: #212121;
                transition: 0.3s;
            }
        }

        .nav__active {
            font-weight: 700;

            a {
                color: #212121;
            }
        }

        .nav__active:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            margin: 6px auto 0;
            background-color: #212121;
        }

        .nav__search {}
    }
}