/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.body {
	color: #273d46;
	font-family: "Arial MT", sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.block {
	width: 1440px;
	height: 1700px;
	background-color: #e8e8e8;
}

.list {
	padding: 161px 0 0 290px;
}

.list li {
	background: url(../img/check_icon.png) left top/25px 19px no-repeat;
	padding: 0 0 0 35px;
	margin: 0 0 13px 0;
	width: 542px;
	height: 19px;
}

.list li:nth-child(1) {
	text-decoration: line-through;
}

.list li:nth-child(2) {
	font-weight: 900;
}

.list li:nth-child(3) {
	font-style: italic;
}

.list li:nth-child(4) {
	text-transform: uppercase;
	margin: 0 0 0 0;
}

.list_sec {
	padding: 75px 0 0 290px;
}

.list_sec li:nth-child(n) {
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
}

.list_sec li:nth-child(2):hover {
	color: red;
	background-image: url(../img/check_icon_red.png);
}

.BUTTONS {
	width: 790px;
	height: 44px;
	margin: 137px 0 0 315px;
}

.BUTTONS div:nth-child(n) {
	display: inline-block;
	width: 199px;
	height: 44px;
	background: #80b7b3;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	border-radius: 22px;
	text-align: center;
	margin-right: -5px;
}

.BUTTONS div:nth-child(2) {
	margin-left: 97px;
}

.BUTTONS div:nth-child(3) {
	margin-left: 96px;
}

.BUTTONS p:nth-child(n) {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	color: #fff;
	line-height: 40px;
	margin-top: 2px;
}

.img {
	display: inline-block;
	margin-top: 15px;
}