%section__paragraph {
    color: #7b7b7b;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

%section__subparagrabh {
    color: #99a9ae;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

div.happy-clients {
    width: 100%;
    height: 908px;
    background-color: #ffc155;
    padding-top: 141px;

    & div.header {
        height: 49px;
        margin: 0 auto;
        text-align: center;
    
        & p.header__title {
            @extend %headers;
            font-size: 28px;
        }
    
        & p.header__subtitle {
            font-family: $default_font_family;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
    }

    & div.section {
        width: 1170px;
        height: 502px;

        & div.section__asite {
            display: inline-block;
            width: 567px;
            height: 241px;
            background-color: #fff;
            vertical-align: top;

            & img.sction__img {
                display: inline-block;
            }

            & img.sction__img_position {
                margin: 43px 0 0 30px;
            }

            & div.section__paragraph {
                display: inline-block;
                width: 365px;
                height: 110px;
                position: relative;

                & img.section__quot {
                    display: inline-block;
                    position: absolute;
                }

                & img.section__quot_top {
                    top: 0;
                    left: 0;
                }

                & img.section__quot_bottom {
                    top: 99px;
                    left: 163px;
                    transform: rotateY(180deg);
                }

                & p.paragraph__text {
                    @extend %section__paragraph;
                    padding-left: 18px;
                }
            }

            & div.section__paragraph_position {
                margin: 45px 0 0 11px;
            }

            & p.section__subparagraph {
                display: inline-block;

                & span:nth-child(n) {
                    @extend %section__subparagrabh;
                }
                // Style for "Darwin Michle,"
                & span:nth-child(1) {
                    color: #f6772c;
                }
                // Style for "Project manager"
                & span:nth-child(2) {
                    color: #394b50;
                }
            }

            & p.section__subparagraph_position {
                margin: 8px 0 0 184px;
            }
        }

        & div.section__asite_position_lt {
            margin: 0 0 0 0;
        }

        & div.section__asite_position_rt {
            margin-left: 32px;
        }

        & div.section__asite_position_lb {
            margin-top: 20px;
        }

        & div.section__asite_position_rb {
            margin: 20px 0 0 32px;
        }
    }

    & div.section_position {
        margin: 58px auto 0;
    }
}