%head-text_in-block {
    color: #394b50;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

%simple-text-in-block {
    color: #7b7b7b;
    font-family: $default_font_family;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

div.content-service {
    width: 1170px;
    height: 570px;
    margin: 100px auto 0;

    & div.content-service__head {
        width: 370px;
        height: 47px;
        margin: 0 auto;
        text-align: center;

        & p:nth-child(1) {
            @extend %headers;
            font-size: 28px;
            letter-spacing: 1.5px;
            color: #394b50;
        }

        & p:nth-child(2) {
            @extend %simple-text-in-block;
            color: #394b50;
            font-size: 16px;
            line-height: 22px;
        }
    }

    & div.content-service__menu {
        width: 100%;
        height: 427px;
        margin-top: 92px;

        // стили для левого и правого блоков меню
        & div.content-service__menu__serv:nth-child(n) {
            width: 555px;
            height: 100%;

            & div.content-service__menu__serv__block:nth-child(n) {
                width: 100%;
                height: 95px;
                margin-top: 74px;

                & img.content-sevice__menu__serv__block_img:nth-child(n) {
                    display: inline-block;
                }

                & div.content-service__menu___serv__block_head:nth-child(n) {
                    width: 468px;
                    height: 100%;
                    display: inline-block;
                    margin-left: 33px;

                    // Text style for "Font-Awesome Icons, Working Contact form, etc."
                    & p:nth-child(1) {
                        @extend %head-text_in-block;
                    }

                    // Text under the headers "Font-Awesome Icons, Working Contact form, etc."
                    & p:nth-child(2) {
                        @extend %simple-text-in-block;
                        margin-top: 13px;
                    }
                }
            }

            & div.content-service__menu__serv__block:nth-child(1) {
                margin-top: 0;
            }
        }

        // стили для левого блока меню
        & div.content-service__menu__serv:nth-child(1) {
            float: left;

            // стили для второго подблока ("Working Contact form")
            & div.content-service__menu__serv__block:nth-child(2) {
                // стили для текстового блока
                & div.content-service__menu___serv__block_head:nth-child(2) {
                    width: 444px;
                    margin-left: 16px;
                }
            }

            // стили для третьего подблока ("Friendly Code")
            & div.content-service__menu__serv__block:nth-child(3) {
                margin-top: 72px;
                // стили для текстового блока
                & div.content-service__menu___serv__block_head:nth-child(2) {
                    margin-left: 31px;
                }
            }
        }

        // стили для правого блока меню
        & div.content-service__menu__serv:nth-child(2) {
            display: inline-block;
            margin-left: 59px;

            // стили для первого подблока ("Fully Responsive Design")
            & div.content-service__menu__serv__block:nth-child(1) {
                // стили для текстового блока
                & div.content-service__menu___serv__block_head {
                    margin: 2px 0 0 2px;
                }
            }

            // стили для первого подблока ("Retina Ready icons here")
            & div.content-service__menu__serv__block:nth-child(2) {
                // стили для текстового блока
                & div.content-service__menu___serv__block_head:nth-child(2) {
                    width: 471px;
                    margin-left: 30px;
                }
            }

            // стили для первого подблока ("Flat trendy landing page Design")
            & div.content-service__menu__serv__block:nth-child(3) {
                margin-top: 68px;
                // стили для картинки
                & img.content-service__menu__serv__block_img {
                    margin-left: 15px;
                }
                // стили для текстового блока
                & div.content-service__menu___serv__block_head {
                    margin-top: 5px;
                }
            }
        }
    }
}