* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.body {}

.div {
	width: 1000px;
	height: 500px;
	border: 2px solid #000;
	margin-left: 250px;
	background: url(../img/bab.jpg) 0 no-repeat, url(../img/bab.jpg) center no-repeat;
}